@font-face {
  font-family: 'ideaing';
  src:  url('fonts/ideaing.eot?h7jclb');
  src:  url('fonts/ideaing.eot?h7jclb#iefix') format('embedded-opentype'),
    url('fonts/ideaing.ttf?h7jclb') format('truetype'),
    url('fonts/ideaing.woff?h7jclb') format('woff'),
    url('fonts/ideaing.svg?h7jclb#ideaing') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="m-icon--"], [class*=" m-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ideaing' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-icon--flame-fill:before {
  content: "\e900";
}
.m-icon--arrow:before {
  content: "\e901";
}
.m-icon--buble:before {
  content: "\e902";
}
.m-icon--heart:before {
  content: "\e903";
}
.m-icon--image:before {
  content: "\e904";
}
.m-icon--item:before {
  content: "\e905";
}
.m-icon--kitchen:before {
  content: "\e906";
}
.m-icon--menu:before {
  content: "\e907";
}
.m-icon--heart-solid:before {
  content: "\e908";
}
.m-icon--specs:before {
  content: "\e909";
}
.m-icon--comments-products:before {
  content: "\e90a";
}
.m-icon--facebook-id:before {
  content: "\e90b";
}
.m-icon--heart-id:before {
  content: "\e90c";
}
.m-icon--pinterest-id:before {
  content: "\e90d";
}
.m-icon--twitter-id:before {
  content: "\e90e";
}
.m-icon--features-c1:before {
  content: "\e90f";
}
.m-icon--browse-all-active:before {
  content: "\e910";
}
.m-icon--homeicon:before {
  content: "\e911";
}
.m-icon--smart-home:before {
  content: "\e912";
}
.m-icon--smart-home-active:before {
  content: "\e913";
}
.m-icon--travel:before {
  content: "\e914";
}
.m-icon--travel-active:before {
  content: "\e915";
}
.m-icon--wearables:before {
  content: "\e916";
}
.m-icon--wearables-active:before {
  content: "\e917";
}
.m-icon--alert:before {
  content: "\e918";
}
.m-icon--alert-active:before {
  content: "\e919";
}
.m-icon--bulb-detailed-on-rating:before {
  content: "\e91a";
}
.m-icon--uniE91B:before {
  content: "\e91b";
}
.m-icon--uniE91C:before {
  content: "\e91c";
}
.m-icon--uniE91D:before {
  content: "\e91d";
}
.m-icon--uniE91E:before {
  content: "\e91e";
}
.m-icon--camera:before {
  content: "\e91f";
}
.m-icon--camera-active:before {
  content: "\e920";
}
.m-icon--discuss-active-products:before {
  content: "\e921";
}
.m-icon--discuss-products:before {
  content: "\e922";
}
.m-icon--discuss-products-active:before {
  content: "\e923";
}
.m-icon--photos:before {
  content: "\e924";
}
.m-icon--house:before {
  content: "\e925";
}
.m-icon--house-active:before {
  content: "\e926";
}
.m-icon--shares:before {
  content: "\e927";
}
.m-icon--shares-active:before {
  content: "\e928";
}
.m-icon--star:before {
  content: "\e929";
}
.m-icon--shopping-bag-light-green:before {
  content: "\e92a";
}
.m-icon--star-blue-half:before {
  content: "\e92b";
}
.m-icon--star-half-active:before {
  content: "\e92c";
}
.m-icon--star-half-inactive:before {
  content: "\e92d";
}
.m-icon--star-inactive:before {
  content: "\e92e";
}
.m-icon--bath:before {
  content: "\e92f";
}
.m-icon--bedding:before {
  content: "\e930";
}
.m-icon--bulb:before {
  content: "\e931";
}
.m-icon--bulb-active:before {
  content: "\e932";
}
.m-icon--discuss:before {
  content: "\e933";
}
.m-icon--discuss-active:before {
  content: "\e934";
}
.m-icon--user:before {
  content: "\e935";
}
.m-icon--heart2:before {
  content: "\e936";
}
.m-icon--reviews:before {
  content: "\e937";
}
.m-icon--comments-id:before {
  content: "\e938";
}
.m-icon--footer-instagram:before {
  content: "\e939";
}
.m-icon--comparisons-active:before {
  content: "\e93a";
}
.m-icon--google-plus-id:before {
  content: "\e93b";
}
.m-icon--search-id:before {
  content: "\e93c";
}
.m-icon--comparisons:before {
  content: "\e93d";
}
.m-icon--uniE93E:before {
  content: "\e93e";
}
.m-icon--uniE93F:before {
  content: "\e93f";
}
.m-icon--uniE940:before {
  content: "\e940";
}
.m-icon--uniE941:before {
  content: "\e941";
}
.m-icon--uniE942:before {
  content: "\e942";
}
.m-icon--uniE943:before {
  content: "\e943";
}
.m-icon--uniE944:before {
  content: "\e944";
}
.m-icon--uniE945:before {
  content: "\e945";
}
.m-icon--uniE946:before {
  content: "\e946";
}
.m-icon--uniE947:before {
  content: "\e947";
}
.m-icon--uniE948:before {
  content: "\e948";
}
.m-icon--uniE949:before {
  content: "\e949";
}
.m-icon--uniE94A:before {
  content: "\e94a";
}
.m-icon--uniE94B:before {
  content: "\e94b";
}
.m-icon--uniE94C:before {
  content: "\e94c";
}
.m-icon--uniE94D:before {
  content: "\e94d";
}
.m-icon--uniE94E:before {
  content: "\e94e";
}
.m-icon--uniE94F:before {
  content: "\e94f";
}
.m-icon--uniE950:before {
  content: "\e950";
}
.m-icon--uniE951:before {
  content: "\e951";
}
.m-icon--uniE952:before {
  content: "\e952";
}
.m-icon--uniE953:before {
  content: "\e953";
}
.m-icon--uniE954:before {
  content: "\e954";
}
.m-icon--uniE955:before {
  content: "\e955";
}
.m-icon--uniE956:before {
  content: "\e956";
}
.m-icon--uniE957:before {
  content: "\e957";
}
.m-icon--uniE958:before {
  content: "\e958";
}
.m-icon--uniE959:before {
  content: "\e959";
}
.m-icon--uniE95A:before {
  content: "\e95a";
}
.m-icon--uniE95B:before {
  content: "\e95b";
}
.m-icon--uniE95C:before {
  content: "\e95c";
}
.m-icon--uniE95D:before {
  content: "\e95d";
}
.m-icon--uniE95E:before {
  content: "\e95e";
}
.m-icon--uniE95F:before {
  content: "\e95f";
}
.m-icon--uniE960:before {
  content: "\e960";
}
.m-icon--uniE961:before {
  content: "\e961";
}
.m-icon--uniE962:before {
  content: "\e962";
}
.m-icon--uniE963:before {
  content: "\e963";
}
.m-icon--uniE964:before {
  content: "\e964";
}
.m-icon--uniE965:before {
  content: "\e965";
}
.m-icon--uniE966:before {
  content: "\e966";
}
.m-icon--uniE967:before {
  content: "\e967";
}
.m-icon--uniE968:before {
  content: "\e968";
}
.m-icon--uniE969:before {
  content: "\e969";
}
.m-icon--uniE96A:before {
  content: "\e96a";
}
.m-icon--uniE96B:before {
  content: "\e96b";
}
.m-icon--garage:before {
  content: "\e96c";
}
.m-icon--wellness2:before {
  content: "\e96d";
}
.m-icon--giveaway:before {
  content: "\e96e";
}
.m-icon--uniE96F:before {
  content: "\e96f";
}
.m-icon--uniE970:before {
  content: "\e970";
}
.m-icon--uniE971:before {
  content: "\e971";
}
.m-icon--uniE972:before {
  content: "\e972";
}
.m-icon--uniE973:before {
  content: "\e973";
}
.m-icon--uniE974:before {
  content: "\e974";
}
.m-icon--uniE975:before {
  content: "\e975";
}
.m-icon--uniE976:before {
  content: "\e976";
}
.m-icon--uniE977:before {
  content: "\e977";
}
.m-icon--uniE978:before {
  content: "\e978";
}
.m-icon--uniE979:before {
  content: "\e979";
}
.m-icon--uniE97A:before {
  content: "\e97a";
}
.m-icon--uniE97B:before {
  content: "\e97b";
}
.m-icon--uniE97C:before {
  content: "\e97c";
}
.m-icon--uniE97D:before {
  content: "\e97d";
}
.m-icon--uniE97E:before {
  content: "\e97e";
}
.m-icon--uniE97F:before {
  content: "\e97f";
}
.m-icon--uniE980:before {
  content: "\e980";
}
.m-icon--uniE981:before {
  content: "\e981";
}
.m-icon--uniE982:before {
  content: "\e982";
}
.m-icon--uniE983:before {
  content: "\e983";
}
.m-icon--uniE984:before {
  content: "\e984";
}
.m-icon--uniE985:before {
  content: "\e985";
}
.m-icon--uniE986:before {
  content: "\e986";
}
.m-icon--uniE987:before {
  content: "\e987";
}
.m-icon--uniE988:before {
  content: "\e988";
}
.m-icon--uniE989:before {
  content: "\e989";
}
.m-icon--uniE98A:before {
  content: "\e98a";
}
.m-icon--uniE98B:before {
  content: "\e98b";
}
.m-icon--uniE98C:before {
  content: "\e98c";
}
.m-icon--uniE98D:before {
  content: "\e98d";
}
.m-icon--uniE98E:before {
  content: "\e98e";
}
.m-icon--uniE98F:before {
  content: "\e98f";
}
.m-icon--uniE990:before {
  content: "\e990";
}
.m-icon--uniE991:before {
  content: "\e991";
}
.m-icon--uniE992:before {
  content: "\e992";
}
.m-icon--uniE993:before {
  content: "\e993";
}
.m-icon--uniE994:before {
  content: "\e994";
}
.m-icon--uniE995:before {
  content: "\e995";
}
.m-icon--uniE996:before {
  content: "\e996";
}
.m-icon--uniE997:before {
  content: "\e997";
}
.m-icon--uniE998:before {
  content: "\e998";
}
.m-icon--uniE999:before {
  content: "\e999";
}
.m-icon--uniE99A:before {
  content: "\e99a";
}
.m-icon--uniE99B:before {
  content: "\e99b";
}
.m-icon--uniE99C:before {
  content: "\e99c";
}
.m-icon--uniE99D:before {
  content: "\e99d";
}
.m-icon--uniE99E:before {
  content: "\e99e";
}
.m-icon--uniE99F:before {
  content: "\e99f";
}
.m-icon--uniE9A0:before {
  content: "\e9a0";
}
.m-icon--uniE9A1:before {
  content: "\e9a1";
}
.m-icon--uniE9A2:before {
  content: "\e9a2";
}
.m-icon--uniE9A3:before {
  content: "\e9a3";
}
.m-icon--uniE9A4:before {
  content: "\e9a4";
}
.m-icon--uniE9A5:before {
  content: "\e9a5";
}
.m-icon--uniE9A6:before {
  content: "\e9a6";
}
.m-icon--uniE9A7:before {
  content: "\e9a7";
}
.m-icon--uniE9A8:before {
  content: "\e9a8";
}
.m-icon--uniE9A9:before {
  content: "\e9a9";
}
.m-icon--uniE9AA:before {
  content: "\e9aa";
}
.m-icon--uniE9AB:before {
  content: "\e9ab";
}
.m-icon--uniE9AC:before {
  content: "\e9ac";
}
.m-icon--uniE9AD:before {
  content: "\e9ad";
}
.m-icon--uniE9AE:before {
  content: "\e9ae";
}
.m-icon--uniE9AF:before {
  content: "\e9af";
}
.m-icon--uniE9B0:before {
  content: "\e9b0";
}
.m-icon--uniE9B1:before {
  content: "\e9b1";
}
.m-icon--uniE9B2:before {
  content: "\e9b2";
}
.m-icon--uniE9B3:before {
  content: "\e9b3";
}
.m-icon--uniE9B4:before {
  content: "\e9b4";
}
.m-icon--uniE9B5:before {
  content: "\e9b5";
}
.m-icon--uniE9B6:before {
  content: "\e9b6";
}
.m-icon--uniE9B7:before {
  content: "\e9b7";
}
.m-icon--uniE9B8:before {
  content: "\e9b8";
}
.m-icon--uniE9B9:before {
  content: "\e9b9";
}
.m-icon--uniE9BA:before {
  content: "\e9ba";
}
.m-icon--uniE9BB:before {
  content: "\e9bb";
}
.m-icon--email-form-id:before {
  content: "\e9bc";
}
.m-icon--products:before {
  content: "\e9bd";
}
.m-icon--bulb3:before {
  content: "\e9be";
}
.m-icon--decor:before {
  content: "\e9bf";
}
.m-icon--furniture:before {
  content: "\e9c0";
}
.m-icon--kitchen2:before {
  content: "\e9c1";
}
.m-icon--office:before {
  content: "\e9c2";
}
.m-icon--outdoor:before {
  content: "\e9c3";
}
.m-icon--storage:before {
  content: "\e9c4";
}
.m-icon--health:before {
  content: "\e9c5";
}
.m-icon--smart-watches:before {
  content: "\e9c6";
}
.m-icon--wearable-cameras:before {
  content: "\e9c7";
}
.m-icon--wellness:before {
  content: "\e9c8";
}
.m-icon--accesories:before {
  content: "\e9c9";
}
.m-icon--backpacks:before {
  content: "\e9ca";
}
.m-icon--bags:before {
  content: "\e9cb";
}
.m-icon--gadgets:before {
  content: "\e9cc";
}
.m-icon--luggage:before {
  content: "\e9cd";
}
.m-icon--networking:before {
  content: "\e9ce";
}
.m-icon--pets:before {
  content: "\e9cf";
}
.m-icon--entertainment:before {
  content: "\e9d0";
}
.m-icon--lighting:before {
  content: "\e9d1";
}
.m-icon--cleaning:before {
  content: "\e9d2";
}
.m-icon--doors:before {
  content: "\e9d3";
}
.m-icon--energy:before {
  content: "\e9d4";
}
.m-icon--cameras:before {
  content: "\e9d5";
}
.m-icon--appliances:before {
  content: "\e9d6";
}
.m-icon--uniE9D7:before {
  content: "\e9d7";
}
.m-icon--uniE9D8:before {
  content: "\e9d8";
}
.m-icon--uniE9D9:before {
  content: "\e9d9";
}
.m-icon--Edit-Background:before {
  content: "\e9da";
}
.m-icon--Edit-Profile:before {
  content: "\e9db";
}
.m-icon--Home:before {
  content: "\e9dc";
}
.m-icon--Location:before {
  content: "\e9dd";
}
.m-icon--Messages:before {
  content: "\e9de";
}
.m-icon--Notifications:before {
  content: "\e9df";
}
.m-icon--Saved-Active:before {
  content: "\e9e0";
}
.m-icon--uniE9E1:before {
  content: "\e9e1";
}
.m-icon--uniE9E2:before {
  content: "\e9e2";
}
.m-icon--uniE9E3:before {
  content: "\e9e3";
}
.m-icon--uniE9E4:before {
  content: "\e9e4";
}
.m-icon--Upload-Inactive:before {
  content: "\e9e5";
}
.m-icon--Actions-Down-Arrow-Active:before {
  content: "\e9e6";
}
.m-icon--Add-Friends:before {
  content: "\e9e7";
}
.m-icon--Logout-Active:before {
  content: "\e9e8";
}
.m-icon--Add-Active:before {
  content: "\e9e9";
}
.m-icon--Close:before {
  content: "\e9ea";
}
.m-icon--Right-Arrow-Active:before {
  content: "\e9eb";
}
.m-icon--star-blue-full:before {
  content: "\e9ec";
}
.m-icon--star-blue-full-lines:before {
  content: "\e9ed";
}
.m-icon--star-blue-half2:before {
  content: "\e9ee";
}
.m-icon--uniE9EF:before {
  content: "\e9ef";
}
.m-icon--uniE9F0:before {
  content: "\e9f0";
}
.m-icon--footer-up-arrow:before {
  content: "\e9f1";
}
.m-icon--uniE9F2:before {
  content: "\e9f2";
}
.m-icon--uniE9F3:before {
  content: "\e9f3";
}
.m-icon--uniE9F4:before {
  content: "\e9f4";
}
.m-icon--uniE9F5:before {
  content: "\e9f5";
}
.m-icon--uniE9F6:before {
  content: "\e9f6";
}
.m-icon--uniE9F7:before {
  content: "\e9f7";
}
.m-icon--uniE9F8:before {
  content: "\e9f8";
}
.m-icon--uniE9F9:before {
  content: "\e9f9";
}
.m-icon--uniE9FA:before {
  content: "\e9fa";
}
.m-icon--uniE9FB:before {
  content: "\e9fb";
}
.m-icon--uniE9FC:before {
  content: "\e9fc";
}
.m-icon--uniE9FD:before {
  content: "\e9fd";
}
.m-icon--uniE9FE:before {
  content: "\e9fe";
}
.m-icon--uniE9FF:before {
  content: "\e9ff";
}
.m-icon--uniEA00:before {
  content: "\ea00";
}
.m-icon--uniEA01:before {
  content: "\ea01";
}
.m-icon--uniEA02:before {
  content: "\ea02";
}
.m-icon--uniEA03:before {
  content: "\ea03";
}
.m-icon--uniEA04:before {
  content: "\ea04";
}
.m-icon--uniEA05:before {
  content: "\ea05";
}
.m-icon--uniEA06:before {
  content: "\ea06";
}
.m-icon--uniEA07:before {
  content: "\ea07";
}
.m-icon--uniEA08:before {
  content: "\ea08";
}
.m-icon--uniEA09:before {
  content: "\ea09";
}
.m-icon--uniEA0A:before {
  content: "\ea0a";
}
.m-icon--uniEA0B:before {
  content: "\ea0b";
}
.m-icon--uniEA0C:before {
  content: "\ea0c";
}
.m-icon--uniEA0D:before {
  content: "\ea0d";
}
.m-icon--uniEA0E:before {
  content: "\ea0e";
}
.m-icon--uniEA0F:before {
  content: "\ea0f";
}
.m-icon--uniEA10:before {
  content: "\ea10";
}
.m-icon--uniEA11:before {
  content: "\ea11";
}
.m-icon--uniEA12:before {
  content: "\ea12";
}
.m-icon--uniEA13:before {
  content: "\ea13";
}
.m-icon--uniEA14:before {
  content: "\ea14";
}
.m-icon--uniEA15:before {
  content: "\ea15";
}
.m-icon--uniEA16:before {
  content: "\ea16";
}
.m-icon--uniEA17:before {
  content: "\ea17";
}
.m-icon--uniEA18:before {
  content: "\ea18";
}
.m-icon--uniEA19:before {
  content: "\ea19";
}
.m-icon--uniEA1A:before {
  content: "\ea1a";
}
.m-icon--uniEA1B:before {
  content: "\ea1b";
}
.m-icon--uniEA1C:before {
  content: "\ea1c";
}
.m-icon--uniEA1D:before {
  content: "\ea1d";
}
.m-icon--uniEA1E:before {
  content: "\ea1e";
}
.m-icon--uniEA1F:before {
  content: "\ea1f";
}
.m-icon--uniEA20:before {
  content: "\ea20";
}
.m-icon--uniEA21:before {
  content: "\ea21";
}
.m-icon--uniEA22:before {
  content: "\ea22";
}
.m-icon--uniEA23:before {
  content: "\ea23";
}
.m-icon--uniEA24:before {
  content: "\ea24";
}
.m-icon--uniEA25:before {
  content: "\ea25";
}
.m-icon--uniEA26:before {
  content: "\ea26";
}
.m-icon--uniEA27:before {
  content: "\ea27";
}
.m-icon--uniEA28:before {
  content: "\ea28";
}
.m-icon--uniEA29:before {
  content: "\ea29";
}
.m-icon--uniEA2A:before {
  content: "\ea2a";
}
.m-icon--uniEA2B:before {
  content: "\ea2b";
}
.m-icon--uniEA2C:before {
  content: "\ea2c";
}
.m-icon--uniEA2D:before {
  content: "\ea2d";
}
.m-icon--uniEA2E:before {
  content: "\ea2e";
}
.m-icon--uniEA2F:before {
  content: "\ea2f";
}
.m-icon--uniEA30:before {
  content: "\ea30";
}
.m-icon--uniEA31:before {
  content: "\ea31";
}
.m-icon--uniEA32:before {
  content: "\ea32";
}
.m-icon--uniEA33:before {
  content: "\ea33";
}
.m-icon--uniEA34:before {
  content: "\ea34";
}
.m-icon--uniEA35:before {
  content: "\ea35";
}
.m-icon--uniEA36:before {
  content: "\ea36";
}
.m-icon--uniEA37:before {
  content: "\ea37";
}
.m-icon--uniEA38:before {
  content: "\ea38";
}
.m-icon--uniEA39:before {
  content: "\ea39";
}
.m-icon--uniEA3A:before {
  content: "\ea3a";
}
.m-icon--uniEA3B:before {
  content: "\ea3b";
}
.m-icon--uniEA3C:before {
  content: "\ea3c";
}
.m-icon--uniEA3D:before {
  content: "\ea3d";
}
.m-icon--uniEA3E:before {
  content: "\ea3e";
}
.m-icon--uniEA3F:before {
  content: "\ea3f";
}
.m-icon--uniEA40:before {
  content: "\ea40";
}
.m-icon--uniEA41:before {
  content: "\ea41";
}
.m-icon--Header-Dropdown:before {
  content: "\ea42";
}
.m-icon--MenuButton:before {
  content: "\ea43";
}
.m-icon--uniEA44:before {
  content: "\ea44";
}
.m-icon--uniEA45:before {
  content: "\ea45";
}
.m-icon--uniEA46:before {
  content: "\ea46";
}
.m-icon--uniEA47:before {
  content: "\ea47";
}
.m-icon--uniEA48:before {
  content: "\ea48";
}
.m-icon--uniEA49:before {
  content: "\ea49";
}
.m-icon--uniEA4A:before {
  content: "\ea4a";
}
.m-icon--uniEA4B:before {
  content: "\ea4b";
}
.m-icon--uniEA4C:before {
  content: "\ea4c";
}
.m-icon--uniEA4D:before {
  content: "\ea4d";
}
.m-icon--uniEA4E:before {
  content: "\ea4e";
}
.m-icon--uniEA4F:before {
  content: "\ea4f";
}
.m-icon--uniEA50:before {
  content: "\ea50";
}
.m-icon--uniEA51:before {
  content: "\ea51";
}
.m-icon--uniEA52:before {
  content: "\ea52";
}
.m-icon--uniEA53:before {
  content: "\ea53";
}
.m-icon--uniEA54:before {
  content: "\ea54";
}
.m-icon--uniEA55:before {
  content: "\ea55";
}
.m-icon--uniEA56:before {
  content: "\ea56";
}
.m-icon--uniEA57:before {
  content: "\ea57";
}
.m-icon--uniEA58:before {
  content: "\ea58";
}
.m-icon--uniEA59:before {
  content: "\ea59";
}
.m-icon--uniEA5A:before {
  content: "\ea5a";
}
.m-icon--uniEA5B:before {
  content: "\ea5b";
}
.m-icon--uniEA5C:before {
  content: "\ea5c";
}
.m-icon--uniEA5D:before {
  content: "\ea5d";
}
.m-icon--uniEA5E:before {
  content: "\ea5e";
}
.m-icon--uniEA5F:before {
  content: "\ea5f";
}
.m-icon--uniEA60:before {
  content: "\ea60";
}
.m-icon--uniEA61:before {
  content: "\ea61";
}
.m-icon--uniEA62:before {
  content: "\ea62";
}
.m-icon--uniEA63:before {
  content: "\ea63";
}
.m-icon--uniEA64:before {
  content: "\ea64";
}
.m-icon--uniEA65:before {
  content: "\ea65";
}
.m-icon--uniEA66:before {
  content: "\ea66";
}
.m-icon--uniEA67:before {
  content: "\ea67";
}
.m-icon--uniEA68:before {
  content: "\ea68";
}
.m-icon--uniEA69:before {
  content: "\ea69";
}
.m-icon--uniEA6A:before {
  content: "\ea6a";
}
.m-icon--uniEA6B:before {
  content: "\ea6b";
}
.m-icon--uniEA6C:before {
  content: "\ea6c";
}
.m-icon--uniEA6D:before {
  content: "\ea6d";
}
.m-icon--uniEA6E:before {
  content: "\ea6e";
}
.m-icon--flame:before {
  content: "\ea6f";
}
.m-icon--eye:before {
  content: "\ea70";
}
.m-icon--video:before {
  content: "\ea71";
}
.m-icon--deals:before {
  content: "\ea72";
}
.m-icon--email:before {
  content: "\ea73";
}
.m-icon--facebook:before {
  content: "\ea74";
}

