@font-face {
    font-family: 'ideaing';
    src:    url('fonts/ideaing.eot?pj6qd3');
    src:    url('fonts/ideaing.eot?pj6qd3#iefix') format('embedded-opentype'),
        url('fonts/ideaing.ttf?pj6qd3') format('truetype'),
        url('fonts/ideaing.woff?pj6qd3') format('woff'),
        url('fonts/ideaing.svg?pj6qd3#ideaing') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="m-icon--"], [class*=" m-icon--"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ideaing' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.m-icon--bath:before {
    content: "\e92d";
}
.m-icon--bedding:before {
    content: "\e92e";
}
.m-icon--decor:before {
    content: "\e9bd";
}
.m-icon--furniture:before {
    content: "\e9be";
}
.m-icon--kitchen2:before {
    content: "\e9bf";
}
.m-icon--office:before {
    content: "\e9c0";
}
.m-icon--outdoor:before {
    content: "\e9c1";
}
.m-icon--storage:before {
    content: "\e9c2";
}
.m-icon--health:before {
    content: "\e9c3";
}
.m-icon--smart-watches:before {
    content: "\e9c4";
}
.m-icon--wearable-cameras:before {
    content: "\e9c5";
}
.m-icon--wellness:before {
    content: "\e9c6";
}
.m-icon--accesories:before {
    content: "\e9c7";
}
.m-icon--backpacks:before {
    content: "\e9c8";
}
.m-icon--bags:before {
    content: "\e9c9";
}
.m-icon--gadgets:before {
    content: "\e9ca";
}
.m-icon--luggage:before {
    content: "\e9cb";
}
.m-icon--networking:before {
    content: "\e9cc";
}
.m-icon--pets:before {
    content: "\e9cd";
}
.m-icon--entertainment:before {
    content: "\e9ce";
}
.m-icon--lighting:before {
    content: "\e9cf";
}
.m-icon--cleaning:before {
    content: "\e9d0";
}
.m-icon--doors:before {
    content: "\e9d1";
}
.m-icon--energy:before {
    content: "\e9d2";
}
.m-icon--cameras:before {
    content: "\e9d3";
}
.m-icon--appliances:before {
    content: "\e9d4";
}
.m-icon--shopping-bag-light-green:before {
    content: "\e928";
}
.m-icon--bulb2 .path1:before {
    content: "\e93c";
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path3:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path4:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path5:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path6:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path7:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(233, 39, 73);
}
.m-icon--bulb2 .path8:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(69, 137, 201);
}
.m-icon--bulb2 .path9:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(136, 201, 127);
}
.m-icon--bulb2 .path10:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(241, 91, 39);
}
.m-icon--logo-without-text-blue .path1:before {
    content: "\e946";
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path2:before {
    content: "\e947";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path3:before {
    content: "\e948";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path4:before {
    content: "\e949";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path5:before {
    content: "\e94a";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path6:before {
    content: "\e94b";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path7:before {
    content: "\e94c";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-blue .path8:before {
    content: "\e94d";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-blue .path9:before {
    content: "\e94e";
    margin-left: -3.673828125em;
    color: rgb(135, 201, 127);
}
.m-icon--logo-without-text-blue .path10:before {
    content: "\e94f";
    margin-left: -3.673828125em;
    color: rgb(240, 90, 37);
}
.m-icon--logo-without-text-blue .path11:before {
    content: "\e950";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-blue .path12:before {
    content: "\e951";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-blue .path13:before {
    content: "\e952";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-blue .path14:before {
    content: "\e953";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-blue .path15:before {
    content: "\e954";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-blue .path16:before {
    content: "\e955";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-blue .path17:before {
    content: "\e956";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-blue .path18:before {
    content: "\e957";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-red .path1:before {
    content: "\e958";
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path2:before {
    content: "\e959";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path3:before {
    content: "\e95a";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path4:before {
    content: "\e95b";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path5:before {
    content: "\e95c";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path6:before {
    content: "\e95d";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path7:before {
    content: "\e95e";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path8:before {
    content: "\e95f";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-without-text-red .path9:before {
    content: "\e960";
    margin-left: -3.673828125em;
    color: rgb(135, 201, 127);
}
.m-icon--logo-without-text-red .path10:before {
    content: "\e961";
    margin-left: -3.673828125em;
    color: rgb(240, 90, 37);
}
.m-icon--logo-without-text-red .path11:before {
    content: "\e962";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-red .path12:before {
    content: "\e963";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-red .path13:before {
    content: "\e964";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-red .path14:before {
    content: "\e965";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-without-text-red .path15:before {
    content: "\e966";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path16:before {
    content: "\e967";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path17:before {
    content: "\e968";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-without-text-red .path18:before {
    content: "\e969";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path1:before {
    content: "\e96a";
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path2:before {
    content: "\e96b";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path3:before {
    content: "\e96c";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path4:before {
    content: "\e96d";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path5:before {
    content: "\e96e";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path6:before {
    content: "\e96f";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path7:before {
    content: "\e970";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-blue .path8:before {
    content: "\e971";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path9:before {
    content: "\e972";
    margin-left: -3.673828125em;
    color: rgb(135, 201, 127);
}
.m-icon--logo-with-text-blue .path10:before {
    content: "\e973";
    margin-left: -3.673828125em;
    color: rgb(240, 90, 37);
}
.m-icon--logo-with-text-blue .path11:before {
    content: "\e974";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-blue .path12:before {
    content: "\e975";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-blue .path13:before {
    content: "\e976";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-blue .path14:before {
    content: "\e977";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-blue .path15:before {
    content: "\e978";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path16:before {
    content: "\e979";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path17:before {
    content: "\e97a";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path18:before {
    content: "\e97b";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path19:before {
    content: "\e97c";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-blue .path20:before {
    content: "\e97d";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path21:before {
    content: "\e97e";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path22:before {
    content: "\e97f";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path23:before {
    content: "\e980";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path24:before {
    content: "\e981";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path25:before {
    content: "\e982";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path26:before {
    content: "\e983";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path27:before {
    content: "\e984";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path28:before {
    content: "\e985";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path29:before {
    content: "\e986";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path30:before {
    content: "\e987";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path31:before {
    content: "\e988";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path32:before {
    content: "\e989";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path33:before {
    content: "\e98a";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path34:before {
    content: "\e98b";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path35:before {
    content: "\e98c";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path36:before {
    content: "\e98d";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path37:before {
    content: "\e98e";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path38:before {
    content: "\e98f";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path39:before {
    content: "\e990";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-blue .path40:before {
    content: "\e991";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path1:before {
    content: "\e992";
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path2:before {
    content: "\e993";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path3:before {
    content: "\e994";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path4:before {
    content: "\e995";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path5:before {
    content: "\e996";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path6:before {
    content: "\e997";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path7:before {
    content: "\e998";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path8:before {
    content: "\e999";
    margin-left: -3.673828125em;
    color: rgb(68, 137, 201);
}
.m-icon--logo-with-text-red .path9:before {
    content: "\e99a";
    margin-left: -3.673828125em;
    color: rgb(135, 201, 127);
}
.m-icon--logo-with-text-red .path10:before {
    content: "\e99b";
    margin-left: -3.673828125em;
    color: rgb(240, 90, 37);
}
.m-icon--logo-with-text-red .path11:before {
    content: "\e99c";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-red .path12:before {
    content: "\e99d";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-red .path13:before {
    content: "\e99e";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-red .path14:before {
    content: "\e99f";
    margin-left: -3.673828125em;
    color: rgb(30, 39, 40);
}
.m-icon--logo-with-text-red .path15:before {
    content: "\e9a0";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path16:before {
    content: "\e9a1";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path17:before {
    content: "\e9a2";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path18:before {
    content: "\e9a3";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path19:before {
    content: "\e9a4";
    margin-left: -3.673828125em;
    color: rgb(234, 35, 72);
}
.m-icon--logo-with-text-red .path20:before {
    content: "\e9a5";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path21:before {
    content: "\e9a6";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path22:before {
    content: "\e9a7";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path23:before {
    content: "\e9a8";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path24:before {
    content: "\e9a9";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path25:before {
    content: "\e9aa";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path26:before {
    content: "\e9ab";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path27:before {
    content: "\e9ac";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path28:before {
    content: "\e9ad";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path29:before {
    content: "\e9ae";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path30:before {
    content: "\e9af";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path31:before {
    content: "\e9b0";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path32:before {
    content: "\e9b1";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path33:before {
    content: "\e9b2";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path34:before {
    content: "\e9b3";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path35:before {
    content: "\e9b4";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path36:before {
    content: "\e9b5";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path37:before {
    content: "\e9b6";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path38:before {
    content: "\e9b7";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path39:before {
    content: "\e9b8";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--logo-with-text-red .path40:before {
    content: "\e9b9";
    margin-left: -3.673828125em;
    color: rgb(31, 39, 40);
}
.m-icon--search-id:before {
    content: "\e93a";
}
.m-icon--products:before {
    content: "\e9bb";
}
.m-icon--bulb3:before {
    content: "\e9bc";
}
.m-icon--email-form-id:before {
    content: "\e9ba";
}
.m-icon--comparisons:before {
    content: "\e93b";
}
.m-icon--google-plus-id:before {
    content: "\e939";
}
.m-icon--comparisons-active:before {
    content: "\e938";
}
.m-icon--footer-instagram:before {
    content: "\e937";
}
.m-icon--comments-id:before {
    content: "\e936";
}
.m-icon--features-c1:before {
    content: "\e90d";
}
.m-icon--photos:before {
    content: "\e922";
}
.m-icon--specs:before {
    content: "\e907";
}
.m-icon--reviews:before {
    content: "\e935";
}
.m-icon--comments-products:before {
    content: "\e908";
}
.m-icon--facebook-id:before {
    content: "\e909";
}
.m-icon--heart-id:before {
    content: "\e90a";
}
.m-icon--pinterest-id:before {
    content: "\e90b";
}
.m-icon--twitter-id:before {
    content: "\e90c";
}
.m-icon--browse-all-active:before {
    content: "\e90e";
}
.m-icon--homeicon:before {
    content: "\e90f";
}
.m-icon--smart-home:before {
    content: "\e910";
}
.m-icon--smart-home-active:before {
    content: "\e911";
}
.m-icon--travel:before {
    content: "\e912";
}
.m-icon--travel-active:before {
    content: "\e913";
}
.m-icon--wearables:before {
    content: "\e914";
}
.m-icon--wearables-active:before {
    content: "\e915";
}
.m-icon--alert:before {
    content: "\e916";
}
.m-icon--alert-active:before {
    content: "\e917";
}
.m-icon--bulb-detailed-on-rating:before {
    content: "\e918";
}
.m-icon--calender .path1:before {
    content: "\e919";
    color: rgb(199, 199, 70);
}
.m-icon--calender .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.m-icon--calender .path3:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(243, 243, 243);
}
.m-icon--calender .path4:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(75, 74, 68);
}
.m-icon--camera:before {
    content: "\e91d";
}
.m-icon--camera-active:before {
    content: "\e91e";
}
.m-icon--discuss-active-products:before {
    content: "\e91f";
}
.m-icon--discuss-products:before {
    content: "\e920";
}
.m-icon--discuss-products-active:before {
    content: "\e921";
}
.m-icon--heart2:before {
    content: "\e934";
}
.m-icon--house:before {
    content: "\e923";
}
.m-icon--house-active:before {
    content: "\e924";
}
.m-icon--shares:before {
    content: "\e925";
}
.m-icon--shares-active:before {
    content: "\e926";
}
.m-icon--star:before {
    content: "\e927";
}
.m-icon--star-blue-half:before {
    content: "\e929";
}
.m-icon--star-half-active:before {
    content: "\e92a";
}
.m-icon--star-half-inactive:before {
    content: "\e92b";
}
.m-icon--star-inactive:before {
    content: "\e92c";
}
.m-icon--bulb:before {
    content: "\e92f";
}
.m-icon--bulb-active:before {
    content: "\e930";
}
.m-icon--discuss:before {
    content: "\e931";
}
.m-icon--discuss-active:before {
    content: "\e932";
}
.m-icon--user:before {
    content: "\e933";
}
.m-icon--buble:before {
    content: "\e900";
}
.m-icon--heart:before {
    content: "\e901";
}
.m-icon--image:before {
    content: "\e902";
}
.m-icon--item:before {
    content: "\e903";
}
.m-icon--kitchen:before {
    content: "\e904";
}
.m-icon--menu:before {
    content: "\e905";
}
.m-icon--heart-solid:before {
    content: "\e906";
}

