@import "bootstrap-grid";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// GENERAL

body{
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  text-decoration: none;
}

header{
  nav{
    ul{
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
    }
    li{
      list-style: none;
    }
    a{
      display: inline-block;
      float: left;
      padding: 20px;
      text-transform: uppercase;


    }
  }

  .signin{
    padding-left: 30px;
    background-image: url("/assets/images/signin-icon.png");
    //background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }

  .search-bar{
    padding-top: 13px;
    margin-left: 4%;

    input{
      text-align: center;
    }
  }


}

#ideaing-logo{
  width: 175px;
  height: 45px;

  &.top-logo{
    margin-top: 10px;
  }
}

#top-nav{
  a{
    color: #000;
    margin-right: 9%;
  }
}

#mid-nav{
  background: rgba(0,0,0,.6);
  a{
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
  }

  li.selected a{
    border-bottom: 3px solid #FBB03B;
  }
}


// TYPOGRAPHY




// ELEMENTS





// LAYOUT

#site-name{
  display: none;
}

