@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// COLORS

$iridium: #FF0042;
$dark-orange: #FF7F00;
$pine-green: #C7C747;
$sky-blue: #00B1FF;
$pale-blue: #F5FBFC;
$picton: #4691d3;
$pale-grey: #F2F5F5;
$light-grey: #c1c1c1;
$tarmac: #3D4B4E;

$facebook-blue: #079DD1;
$facebook-blue-2: #5C7CBD;
$twitter-blue:    #7BD1F0;
$google-red:      #EF434D;
$pinterest-red:   #E61D25;
$instagram-blue:  #54A3DA;

.pink{
  color: $iridium !important;
}
.orange{
  color: $dark-orange !important;
}
.green{
  color: $pine-green !important;
}
.blue{
  color: $sky-blue !important;
}

.pale-grey-bg{
  background: $pale-grey;
}

.pale-grey-border{
  border:1px solid darken($pale-grey, 10%);
}

.blue-glow{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #1ABCF5;
  -webkit-fill-color: #1ABCF5;
  text-shadow: 1px 0px 8px #1ABCF5;
  -webkit-transition: width 0.3s; /*Safari & Chrome*/
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -o-transition: width 0.3s; /* Opera */

}

[data-toggle]{
  cursor: pointer;
}

.clearfix.pocket{
  height: 50px;
  width: 100%;
}


// ELEMENTS

//::-webkit-input-placeholder {
//  color: red;
//}
//
//:-moz-placeholder { /* Firefox 18- */
//  color: red;
//}
//
//::-moz-placeholder {  /* Firefox 19+ */
//  color: red;
//}
//
//:-ms-input-placeholder {
//  color: red;
//}

a:visited{
  text-decoration: none;
}

.hide-soft{
  display: none;
}

button{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.modal{
  //display: block !important; // keep for debuggins
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;


  .modal-content{
    overflow: hidden;
    padding: 9.5%;
    border-radius: 3px;
  }
}

.hidden-soft{ // unlike the BS hidden - no !important
  display: none;
}

#overlay{
  display: none;
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity: .9;
  z-index: 2;
}

// BUTTONS

.btn-success{
  background-color: $iridium;
  border-color: $iridium;

  &:hover{
    background-color: darken($iridium, 10%);
    border-color: darken($iridium, 10%);
  }
}
.btn-info{
  background-color: $sky-blue;
  border-color: $sky-blue;

  &:hover{
    background-color: darken($sky-blue, 10%);
    border-color: darken($sky-blue, 10%);
  }
}

.btn-white{
  background: #fff;
  border: 1px solid $light-grey;
  color: $light-grey;
  font-size: 1.2rem;
  width: 90px;

  &.like{
    background: url("/assets/images/like-white.png") center no-repeat;
  }

  &:hover{
    border-color: darken($light-grey, 15%);
  }
}

.btn-none{
  background: transparent;
  text-align: center;
  padding: 20px;
  color: darken($light-grey, 20%);
  width: 100%;
}

.close-button{
  color: #333;
  font-size: 2rem;
  float: right;
  cursor: pointer;
}

.close-down{
  width: 30px;
  height: 30px;
  background: #4b484b url("/assets/images/arrow-down-white.png") center no-repeat;
  background-size: 23px;
  border-radius: 90px;
  border: 0;
  padding: 5px;
}


body,
html{
  overflow-x: hidden;
}

.main-content{
  overflow: hidden;
}

.lamp-logo{
  display: block;
  width: 45px;
  min-height: 60px;
  padding: 0;
  background-image: url("/assets/images/ideaing-logo-lamp-only.png");
  background-repeat: no-repeat;
  background-position: right;
}

a{ // Custom Link Styles

  &.author{
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url("/assets/images/dummies/author.png") center no-repeat;
    border: 2px solid #fff;
    border-radius: 40px;
    text-indent: -9999px;
  }

  &.like-counter{
    height: 25px;
    //display: inline-block;
    font-size: 1.7rem;
    padding-left: 30px;
    padding-bottom: 3px;
    color: $iridium;
    background: url("/assets/images/heart-red.png") left top no-repeat;

    &.orange{
      padding-left: 35px;
      background: url("/assets/images/heart-orange.png") 0 top no-repeat;
    }
  }

  &.ideas-link{
    color: $dark-orange;
    background-image: url("/assets/images/lamp-orange.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.products-link{
    color: $pine-green;
    background-image: url("/assets/images/bag-green-big.png");

    background-repeat: no-repeat;
    background-size: contain;
  }

  &.photos-link{
    color: $sky-blue;
    background-image: url("/assets/images/photos-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.featured-badge{
    width: 121px;
    height: 59px;
    background: url("/assets/images/featured-badge-pink.png")left center no-repeat;
  }

  // social buttons

  &.fb{
    background-color: $facebook-blue-2;
    background-image: url("/assets/images/fb-white-small.png");
    background-repeat: no-repeat;
  }
  &.twi{
    background-color: $twitter-blue;
    background-image: url("/assets/images/twi-white-small.png");
    background-repeat: no-repeat;
  }
  &.gp{
    background-color: $google-red;
    background-image: url("/assets/images/gp-white-small.png");
    background-repeat: no-repeat;
  }
  &.pint{
    background-color: $pinterest-red;
    background-image: url("/assets/images/pint-white-small.png");
    background-repeat: no-repeat;
  }
  &.inst{
    background-color: $instagram-blue;
    background-image: url("/assets/images/inst-blue-small.png");
    background-repeat: no-repeat;
  }




  &.email{
    background-color: $light-grey;
    background-image: url("/assets/images/email-white-small.png");
    background-repeat: no-repeat;
  }
  &.heart{
    background-image: url("/assets/images/heart-red.png");
    background-size: 19px;
    background-repeat: no-repeat;

  }
  &.comment{
    background-image: url("/assets/images/chat-blue-outline.png");
    background-size: 19px;
    background-repeat: no-repeat;
  }


}

li.nested{
  a.active::after{
    background-image: url("/assets/images/arrow-up-black.png");
  }
  a::after{
    content: '	';
    width: 15px;
    height: 15px;
    background: url("/assets/images/arrow-down-pink.png") no-repeat;
    background-size: contain;
    color: $iridium;
  }

}

.share-bar{
  width: 100px;
  position: absolute;
  left: 1%;
  top: 10px;
  text-align: center;

  //&.mobile{
  //  display: none;
  //}
  &.stick{
    position: fixed;
    top: 120px;
  }
  //

  li{
    width: 100%;
    height: 35px;
    margin-bottom: 3px;
    padding-top: 8px;
    padding-bottom: 15px;
    border-radius: 4px;
    background-position: 5px center;
    background-repeat: no-repeat;

    &.fb{
      background-color: $sky-blue;
      background-image: url("/assets/images/fb-white-small.png");
    }
    &.twi{
      background-color: $facebook-blue;
      background-image: url("/assets/images/twi-white-small.png");
    }
    &.gp{
      background-color: $iridium;
      background-image: url("/assets/images/gp-white-small.png");
    }
    &.email{
      background-color: $light-grey;
      background-image: url("/assets/images/email-white-small.png");
      background-position: 5px 8px;
    }
    &.heart{
      background-image: url("/assets/images/heart-red.png");
      background-size: 19px;
    }
    &.comment{
      background-image: url("/assets/images/chat-blue-outline.png");
      background-size: 19px;
    }

    &.heart,
    &.comment{
      background-color: #fff;
      background-position: 8px 10px;
      border: 1px solid $light-grey;

      a{
        color: $light-grey;
      }
    }


    a{
      color: #fff;
    }
  }
}

@media (max-width: 1670px){
  .share-bar{
    left: 1%;
  }
}

@media (max-width: 1380px){
  //.share-bar.desktop{
  //  display: none;
  //}

  .share-bar{
    //display: block;
    position: absolute !important;
    //left: 40px;
    top: 16px;

    &.stick{
      //position: absolute !important;
      top: 16px;
      //left: -10%;
    }
  }

}

@media (max-width: 992px){
  .share-bar{
    left: 15px;
  }

}


//
//@media (max-width: 768px){
//  .share-bar{
//    top: 11%;
//
//  }
//
//}

@media (max-width: 620px){
  .share-bar{
    position: static !important;
    width: 100%;
    float: none;
    overflow: hidden;

    ul{
      width: 100%;

      li{
        width: 100px;
        float: left;
        margin-left: 1.4%;
      }
    }

  }

}



// custom checkboxes

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  border: 2px solid $light-grey;
  border-radius: 5px;
  cursor:pointer;
  transition: border-color .5s, backgroun-image .5s;

}
input[type="checkbox"]:checked + label span {
  background:url('/assets/images/checkmark-black.png') center no-repeat !important;
  border-color: darken($light-grey, 25%);
}


.get{
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  overflow: hidden;
  padding: 2px 12px;
  margin: 0 7px  5px;
  border: 2px solid $iridium;
  color: $iridium;
  background: transparent;
  border-radius: 4px;

  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;

  &:hover {
    background: $iridium;
    color: #fff;
  }

  &.solid{
    background: $iridium;
    color: #fff;

    &:hover{
      border: 2px solid $iridium;
      color: $iridium;
      background: transparent;
    }
  }
}




// GENERAL

body{
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  text-decoration: none;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
}

nav{
  ul{
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }
  //li{
  //  //list-style: none;
  //}
  a{
    display: inline-block;
    float: left;
    padding: 20px;
    text-transform: uppercase;
  }
}

.h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
}


#hero{
  position: relative;
  width: 100%;
  min-height: 540px;
  float: left;

  .head-wrap{
    position: absolute;
    width: 100%;
    padding-top: 20%;
    z-index: 1;

  }

  h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  }


  .like-counter{
    overflow: hidden;
    font-size: 2.3rem;
    color: #fff;
    height: 45px;
    width: 80px;
    margin: 0 auto;
    background-position: left 4px;
  }

  .hero-background{
    background-image: url('/assets/images/landing-hero-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    //-webkit-filter: blur(2px);
    //-moz-filter: blur(2px);
    //-o-filter: blur(2px);
    //-ms-filter: blur(2px);
    //filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .color-overlay{


    background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & > .container{
    padding-top: 100px;
  }

}

.logo-wrap{
  a{
    padding: 0;
  }
}

.details-hero{
  h1{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;


    span{
      background-color: $picton;
      padding: 5px 15px;
      //padding-left: 30px;
      background-position-x: 3px;
    }
  }
  .color-overlay{
    display: none;
  }
}

#ideaing-logo{
  width: 175px;
  height: 48px;
  min-width: 110px;
  margin-top: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-left: 30px;
  background: url('/assets/images/ideaing-logo-small-no-text.png') no-repeat;
  background-size: contain;
}

form{
  input,
  .btn{
    margin-bottom: 20px;
  }
}



.grid-box{
  overflow: hidden;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 3px;

  &:hover{
    .color-overlay{
      display: block;
    }
  }

  .color-overlay{
    display: none;
    background: rgba(0,0,0,.5);
    //opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h4{
      position: absolute;
      bottom: 39%;
      left: 0%;
      color: #fff;
      width: 100%;
      text-align: center;

      a{
        color: #fff;
      }
    }

    b.price{
      position: absolute;
      right: 5px;
      top: 5px;
      color: #fff;
      font-size: 4rem;
      font-weight: normal;
    }

    .vendor-logo{
      width: 100px;
      position: absolute;
      right: 77px;
      top: 63px;
    }

    .get{
      position: absolute;
      right: 0px;
      top: 63px;
    }


  }

  .like-wrap{
    width: 150px;
    height: 55px;
    float: left;
    margin-left: 8%;
    //margin: 0 auto;

    a{
      position: static;
      float: left;
    }

    .social-pic{
      width: 55px;
      height: 29px;
      position: static;
      text-align: center;
      padding-left: 40px;
      padding-top: 3px;
      margin-top: 5px;
      margin-right: 17px;

      &.comment{
        left: 35px;
        color: $sky-blue;
        background: url("/assets/images/chat-blue-outline.png") 3px center no-repeat;

        &:hover{
          background: url("/assets/images/chat-blue-solid.png") left center no-repeat;
        }
      }
      &.likes{
        color: $iridium;
        background: url("/assets/images/heart-pink-outline.png")left center no-repeat;

        &:hover{
          background: url("/assets/images/heart-pink-solid.png")left center no-repeat;
        }
      }
    }
  }



  datetime{
    float: right;
    padding: 10px 15px;
    color: $light-grey;
  }

  &.big-box{
    datetime{
      padding: 0px;
      float: left;
    }
  }

  .img-wrap .like-wrap{
    width: 115px;
    height: 55px;
    margin-left: auto;
    background: rgba(255, 255, 255, .9);
    position: absolute;
    bottom: -10px;
    left: -30px;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 18px;
    border-radius: 20px;

    .social-pic {
      width: 35px;
      margin: 5px 0 0;
      padding-left: 0;

      //position: absolute;
      //width: 40px;
      //height: 40px;
      //left: 0;
      //bottom: 2px;

    }
  }

  &:not(.big-box){
    h3 a{
      font-size: 1.7rem;
    }
  }

  .price{
    font-size: 2rem;
    color: $iridium;
  }

  .img-wrap{
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 5px;

    & > img{
      min-height: 237px;
    }
    a{
      position: absolute;
      text-indent: -9999px;
    }
    .get-it{
      right: 8px;
      bottom: 10px;
      //background: url("/assets/images/get-it-green.png") center no-repeat;
      text-indent: 0;
      color: #fff;
      white-space: nowrap;
      text-align: center;

      div{
        border-radius: 30px;
        border: 2px solid $iridium;

        &.circle-1{
          width: 44px;
          height: 42px;
          padding: 28% 5% 5% 3%;
          background: $iridium;
          text-transform: uppercase;
          font-size: 1.1rem;
        }

        &.circle-2,
        &.circle-3{
          padding: 3%;
          border-radius: 50%;

        }

        &.circle-2{
          padding: 5%;
        }
        &.circle-3{
          width: 65px;
          height: 62px;
          padding: 5%;
        }
      }

      &.big{
        top: 20px;
        div {
          border-color:$pine-green;

          &.circle-1 {
            width: 80px;
            height: 77px;
            padding: 30px 5px 5px 3px;
            background: $pine-green;
            font-size: 1.1rem;
            border-radius: 50%;
            color: #fff;
          }

          &.circle-2,
          &.circle-3{
            padding: 5%;
          }
          &.circle-3{
            width: 108px;
            height: 106px;
            padding: 5%;
          }
        }
      }
    }

    .featured-badge{
      right: 25px;
      top: -34px;
    }

    .category-tag{
      width: 55px;
      height: 64px;
      left: 2px;
      top: 2px;
      position: absolute;

      &.product{
        background: url("/assets/images/bag-green-big.png") center no-repeat;
        background-size: 38px;

      }
      &.idea{
        background: url("/assets/images/lamp-orange.png") center no-repeat;
      }
      &.photo{
        background: url("/assets/images/photos-blue.png") center no-repeat;
      }
    }

    img{
      width: 100%;

      border-radius: 5px;
    }


  }


  h3{
    a{
        color:$tarmac;
    }
  }


  li.box-tag{
    display: inline-block;
    a{
      float: left;
      color: darken($light-grey, 20%);
      padding: 3px;
      margin-top: 8px;
      margin-bottom: 2px;
      border: 1px solid darken($light-grey, 20%);
      border-radius: 2px;
      font-size: 1rem;
      cursor: pointer;

      &:hover{
        color: #fff;
        background-color:  darken($light-grey, 20%);
      }
    }
  }

  &:not(.sidebar-box){
      min-height: 190px;
      border-radius: 5px;
  }

  &.big-box{
    margin-top: 0;
    padding-top: 33px;
    .category-tag{
      width: 100px;
      text-indent: 0;
      text-align: center;
      color: #FF7F00;
      padding-top: 19px;
      padding-left: 52px;
      background-position: 4px center !important;

    }

    .img-wrap{
      overflow: visible;

      img{
        box-shadow: 0 0 0 1px $pale-grey;
      }
    }

    .like-wrap{
      padding-left:45px;
      padding-top: 9px;
      width: 139px;
      height: 67px;
      bottom: -15px;
    }

    .author{
      position: absolute;
      right: 40px;
      bottom: 10px;
    }
  }

  &:hover{
    .img-wrap{
      img{
        box-shadow: 0 0 0 1px $sky-blue;
      }
    }

    h3 a,
    h5 a
    {
      color: darken($sky-blue, 10%) !important;
    }

  }

}

.main-container{
  overflow: hidden;
}

.grid-insert{
  padding: 45px;
  margin-top: 45px;
  background: $pale-grey;

  h4{
    a{
      color: $tarmac;
    }
  }
}

.bottom-load-more{
  margin-top: 45px;
  margin-bottom: 45px;

}

.side-filters{
  padding: 10px 30px 20px;
  margin-top: 30px;
  overflow: hidden;

  div:not(:first-child){
    margin-top: 25px;
    border-top: 1px solid $light-grey;
    padding-top: 9px;
  }

  h5{
    //margin-top: 30px;
    color: lighten($tarmac, 10%);
  }

  input[type="checkbox"]{
    margin-right: 5px;
  }

  label{
    display: block;
    width: 100%;
    color: lighten($tarmac, 10%);
  }

  .btn-success{
    margin-top: 40px;
  }


}

#show-mobile-filters{
  float: none;
  margin: 20px auto 0;
  //display: block;
}

#mobile-side-filters{
  display: none;
  padding-top: 0;
  padding-right: 0;

  div{
    border: 0;
  }
}


.mobile-filter-switch{
  padding-top: 0;
  li{
    padding-top: 15px;
    padding-bottom: 15px;

    float: left;
    padding-left: 20px;

    &:not(.active){
      background-color: #f9fcfc;
    }
  }
}

.mobile-search-bar{
  padding: 10px;
  display: none;
  background: $light-grey;
}

#mobile-side-filters{
  div{
    margin-top: 20px;
  }
}

.sidebar-category{
  margin-top: 40px;

  h4{
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  &.products{
    h4{
      color: $pine-green;
    }
  }

  &.ideas{
    h4{
      color: $dark-orange;
    }
  }

  &.photos{
    h4{
      color: $sky-blue;
    }
  }

}

.sidebar-box{
  overflow: visible;
  margin-top: 0;
  h5{
    font-size: 1.6rem;
    margin-bottom: 0;

    a{
      color: $tarmac;
    }
  }
  ul{
    height: 25px;
    margin-bottom: 0;
  }
  .img-wrap{
    overflow: visible;
    & > img{
      min-height: 0;
    }
  }
  li.box-tag{
    a{
      display: inline;
      font-size: 1.5rem;
      border: 0;
    }
  }
  .img-wrap{
    .number{
      text-indent: 0;
      padding: 2px 10px;
      border-radius: 20px;
      top: -7px;
      left: -7px;
      background: $pine-green;
      color: #fff;
    }
  }

  .photos &{
    .img-wrap {
      a.number {
        background: $sky-blue;
      }
    }

    //h5 a{
    //    color: $sky-blue;
    //  }
  }
  .ideas &{
    .img-wrap {
      a.number {
        background: $dark-orange;
      }
    }
  }


  .sidebar-social-counter{
    padding-left: 25px;
    background:rgba(255,255,255,.9) url("/assets/images/heart-grey.png") 5px 10px no-repeat;
    right:  0;
    bottom: 0;
    width: 60px;
    /* background: #fff; */
    text-indent: 0;
    color: $tarmac;
    padding: 7px 0 4px 30px;
    border-radius:  15px 0 0 0 ;
    text-indent: 0 !important;
  }
}

#about-button{
  position: absolute;
  width: 80px;
  right: 85px;
  bottom: 45px;
  padding: 13px;
  font-size: 1rem;
  z-index: 9;
  background: $iridium !important;
}

#back-to-top{
  -webkit-appearance: none;
  border: 0;
  position: absolute;
  right: 16px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  background: url("/assets/images/back-to-top.png") no-repeat;
  text-indent: -9999px;
  z-index: 10;

  &:hover{
    background: url("/assets/images/back-to-top-red.png") no-repeat;
  }
}

// LAYOUT

.layout-controls{
  display: none; // TEMP

  margin-top: 40px;
  li{
    width: 120px;
    //height: 25px;
    float: left;
    margin-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;

    &.selected{
      border: 1px solid #eee;
    }

    &.list{
      background: url("/assets/images/list-grey.png") 7px center no-repeat;
    }
    &.grid{
      background: url("/assets/images/grid-grey.png") 7px center  no-repeat;
    }


  }
}

#site-name{
  display: none;
}


header.colophon{
  min-height: 60px;
 #top-nav{
   .signin{
     padding-right: 0;

     a{
       float: right;
       margin-right: 1%;
       padding-left: 40px;
       background-image: url("/assets/images/signin-icon.png");
       background-position: left;
       background-repeat: no-repeat;
       white-space: nowrap;
      }
   }
 }

  &.scroll-header{
    .fixed-sm{
      min-width: 0 !important;
    }
    #top-nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
      background: #fff;

      @media (min-width: 620px){
        li {
          a {
            width: 35px;
            height: 30px;
            float: left;
            padding: 0;
            margin-left: 10px;
            margin-right: 0;
            margin-top: 15px;
            background-size: 27px;
            text-indent: -9999px;

          }
        }

        a#ideaing-logo {
          display: block;
          width: 45px;
          min-height: 60px;
          padding: 0;
          background-image: url("/assets/images/ideaing-logo-lamp-only.png");
          background-repeat: no-repeat;
          background-position: right;
          background-size: initial;
          margin-right: 0;
          margin-top: 0;
        }

        .search-bar{
          margin-left: 7%;
        }
      }


    }
  }




  .search-bar{
    padding-top: 13px;
    margin-left: 3%;

    .search-toggle{
      display: none;
      text-indent: -9999px;
      background: url('/assets/images/magnif-grey.png') center no-repeat;
    }

    input{
      min-width: 128px;
      text-align: center;
      background: url('/assets/images/magnif-grey.png') 10% no-repeat;
    }
  }

}


#top-nav{
  a{
    margin-right: 8%;
    padding-left: 30px;
    padding-right: 5px;
    color: #000;

    &.shop{
      background: url('/assets/images/bag-black.png') left center no-repeat;
      &:hover{
        background-image: url('/assets/images/bag-blue.png');
      }
    }
    &.pros{
      background: url('/assets/images/pro-grey.png') left center no-repeat;
    }
    &.disc{
      background: url('/assets/images/chat-black.png') left center no-repeat;
      &:hover{
        background-image: url('/assets/images/chat-picton.png');
      }
    }

    &:hover{
      color: $picton;
    }

  }

  li.nested{
    cursor: pointer;
    a::after{
      padding-left: 19px;
    }

    ul{
      display: none;
    }

  }


}

.story-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  padding: 20px 10px;
  overflow: hidden;
  background: #fff;

  .lamp-logo{
    float: left;
    width: 33px;
    min-height: 33px;
    background-size: contain;
    margin-top: 12px;
  }

  h1{
    padding-left: 10px;
    margin-top: 0;
    font-size: 2.1rem;
    float: left;
    margin-left: 3%;
    margin-top: 15px;

  }

  .like-nav li a.author {
    margin-top: -13px;
  }

  .social-rounds{
    float: right;
    width: 190px;
    margin-top: 4px;
    overflow: hidden;

    a{
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      border-radius: 90px;
      text-indent: -9999px;
      background-position: center;
    }

  }

  .likes{
    color: $iridium;
  }


}


//

//

#mid-nav{
  //margin-bottom: 100px;
  min-height: 47px;
  //background: #ED1E47;

  .container{
    border-top: 1px solid $light-grey;
  }

  ul.wrap{
    position: relative;
    overflow: visible
  }
  a{
    //margin: 15px 30px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 3px;
    padding: 5px 17px;
    overflow: hidden;
    font-size: 1.2rem;
    color: $tarmac;
    border-radius: 3px;



    &.extra{
      margin-left: 1%;
    }

    &.about{
      margin-left: 7%;
      color: lighten($tarmac, 35%);
    }

    &.more-link{
      text-indent: -9999px;
      background:url("/assets/images/dots-grey.png") center no-repeat;
      background-size: contain;
      //background-size: contain;

      &:hover{
        background-image:url("/assets/images/dots-pink.png");
        box-shadow: none;

      }
    }


    &:hover{
      color: $iridium;
      -webkit-box-shadow: 0px 0px 0px 2px $iridium;
      -moz-box-shadow: 0px 0px 0px 2px $iridium;
      box-shadow: 0px 0px 0px 2px $iridium;

    }
  }

  li.nested{
      position: relative;
  }

  li.selected a{
    color: $iridium;
    //border-bottom: 3px solid #FBB03B;
    -webkit-box-shadow: 0px 0px 0px 2px $iridium;
    -moz-box-shadow: 0px 0px 0px 2px $iridium;
    box-shadow: 0px 0px 0px 2px $iridium;
    //border-radius: 15px;

    //background-color: #CE1F46;
  }

  .extra-nav{
    @extend #mid-nav;
    display: none;
    position: absolute;
    width: 200px;
    right: 20%;
    top: 40px;
    padding: 0;
    z-index: 10;
    background: #fff;

    -webkit-box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);
    box-shadow: 9px -8px 27px -10px rgba(0,0,0,0.43);

    li{
      width: 100%;
      float: none;

      a{
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        padding:30px 30px 25px 80px;
        background-position: 8px center;
        background-repeat: no-repeat;
        border-bottom: 1px solid $light-grey;

        &.smart-home-link{
          background-image: url("/assets/images/smart-home.png");
        }
        &.travel-link{
          background-image: url("/assets/images/travel.png");
        }
        &.wearables-link{
          background-image: url("/assets/images/wearables.png");
        }
        &:hover{
          box-shadow: none;
        }
      }
    }

  }
}

.mobile-extra-nav,
.mobile-more-nav{
  padding: 20px;
}

header.sub-head{
  position: relative;
  width: 100%;
  float: left;
}

.shop-menu{
  width: 100%;
  min-width: 972px;
  min-height: 375px;
  position: absolute;
  overflow: hidden;
  background: $pale-grey;
  z-index: 2;

  section{
    padding: 0;
  }

  h5{
    padding-top: 35px;
    padding-bottom: 22px;
    border-bottom: 1px solid lighten($light-grey, 15%);
    margin-bottom: 25px;
  }

  .img-wrap{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 9px;
  }

  .travel,
  .wearables,
  .home-decor{

    .img-wrap{
      overflow: hidden;
      min-height: 0;

      img{
        width: 50px;
        height: 46px;
      }
    }

    b{
      a{
        padding-left: 8px;
        padding-top: 15px;
        text-transform: none;
        color: $tarmac;
        font-weight: normal;
      }
    }

  }


  a{
    padding: 0;

    img{
      width: 100%;
    }
  }

  .col-xs-4{
    span,
    a{
      position: absolute;
      left: 25px;
      bottom: 50px;
      color: $tarmac;
    }

    span{
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    a{
      bottom: 30px;
      text-transform: capitalize;
      font-size: 1.7rem;
    }

    img{
      width: 100%;
      height: 217px;
      display: block;
    }
  }
  .col-xs-2{
    img{
      height: 65px;
    }
    span{
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: #fff;
      text-transform: capitalize;
    }

  }
}





.why-us{
  margin-top: 25px;
  h2{
    font-size: 3.5rem;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  h2, li{
    color: #fff;
  }

  li{
    //padding: 20px;
    //margin-bottom: 25px;
    padding: 15px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

    font-size: 1.6rem;

    &.get-ideas{
      background:url("/assets/images/lamp-white.png") left no-repeat;
    }
    &.share-vote{
      background:url("/assets/images/like-white.png") left no-repeat;
    }
    &.shop-cool{
      background:url("/assets/images/tag-white.png") left no-repeat;
    }


  }
}

.mobile-hero{
  h2{
    text-align: center;
    color: #fff;
  }

  a.likes{
    display: block;
    width: 69px;
    height: 25px;
    margin: 0 auto;
    color: #fff;
    background: url("/assets/images/heart-red.png") left 3px no-repeat;
    text-align: right;
    font-size: 2rem;
    padding-bottom: 0px;
  }

}

.mobile-register{
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
  height: 40px;
  background: $facebook-blue;
  padding-top: 9px;
  padding-bottom: 3px;

  div{
    width: 60%;
    min-width: 350px;
    margin: 0 auto;
  }
  a{
    color: #fff;
    font-size: 1.7rem;

    &.register-button{
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 3px;
    }

    &.signup-with-facebook{
      background: $facebook-blue url("/assets/images/facebook-white.png") left no-repeat;
      background-size:35px ;
      padding-left: 40px;
    }
  }
}

.hero-box{
  padding: 3.5% 5.5%;
  background: #fff;

  h4{
    font-size: 1.4rem;

    b{
      font-size: 1.9rem;
    }
  }



  input[type="text"]{
    background: $pale-blue;
    border: 1px solid #eee;
    color: #000;
    box-shadow: none;

    &[name="name"]{
      background:$pale-blue url("/assets/images/signin-icon.png") no-repeat;
    }
    &[name="email"]{
      background: $pale-blue url("/assets/images/letter-icon-black.png") no-repeat;
    }
    &[name="name"],
    &[name="password"],
    &[name="email"]{
      padding-left: 45px;
      background-size:20px;
      background-position: 10px;
      background-repeat: no-repeat;
    }

  }


  ::-webkit-input-placeholder {
    color: #000;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #000;
  }

  :-ms-input-placeholder {
    color: #000;
  }

  .btn-success{
    margin-bottom: 0;
  }
  .line-wrap{
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  .btn-info{
    background: $facebook-blue url("/assets/images/facebook-white.png") left no-repeat;
    background-size:contain ;

    &:hover{
      background-color: darken($facebook-blue, 10%);
      border-color: darken($facebook-blue, 10%);
    }
  }
}

.latest-heading{
  padding-top: 30px;
  padding-bottom: 10px;
  h6{
    width: 135px;
    margin: -30px auto 0;
    padding: 0 15px;
    background: #fff;
    text-align: center;
    font-size: 1.7rem;
    color: lighten($tarmac, 10%);
  }
}

.modal-login{
  background: darken($pale-grey, 4%);
  .btn-info{
    margin-bottom: 0;
  }
  input[type="text"]{
    margin-bottom: 8px;
    border: 1px solid darken($pale-grey, 10%);

    &[name="password"]{
      background-image: url('/assets/images/lock-color.png');
    }
  }
  input[type="checkbox"] + label span {
    margin: -1px 10px 0 0;
  }
  label{
    width: 100%;
  }
  .btn-success {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .modal-minor-text{
    padding-top: 10px;
    font-size: 1.2rem;
    color: lighten($tarmac, 20%);
    font-weight: bold;

    b{
      float: right;
      a{
        text-align: right;
        color: $iridium;
      }
    }
  }
}



#hero-nav{
  overflow: visible;
  float: left;
  width: 100%;
  //background: #F2F2F2;
  border-bottom: 1px solid darken($pale-grey, 10%);
  ul{
    overflow: visible;
  }

  .category-nav{
    width: 475px;
  }

  .left-nav{
    li{
      padding-right: 15px;

      &:not(:last-child)::after{
        content: ' ';
        display: block;
        position: absolute;
        left: 78%;
        top: 39%;
        width: 19px;
        height: 19px;
        background: url('/assets/images/arrow-right-black.png') center no-repeat;
      }
    }

    a{
      position: static;
    }
  }

  li{
    display: inline-block;
    position: relative;
    height: 55px;
  }
  a:not(.author){
    color: $iridium;
    text-transform: none;
    text-align: right;
    padding-left: 30px;
    background-size: 25px;
    background-position: 0 19px;
    background-repeat: no-repeat;
    color: $tarmac;

    &.home-link{
      background-image: url('/assets/images/house-outline.png');

      &:hover{
        color: $iridium;
        background-image: url('/assets/images/house-pink.png');
        background-position: -18px 10px;
        background-size: 48px;
      }
    }
    &.all-link{
      background-image: url('/assets/images/grid-dense-grey.png');
      background-position: 0 20px;
      min-width: 40px;
      //margin-top: -3px;

      &:hover,
      .active &{
        color: $iridium;
        background-image: url('/assets/images/grid-pink.png');
      }
    }
    &.ideas-link{
      background-image: url('/assets/images/lamp-grey.png');
      background-position: 0 21px;

      //padding-top: 6px;
      &:hover{
        color: $dark-orange;
        background-image: url('/assets/images/lamp-orange.png');
      }

    }
    &.products-link{
      background-image: url('/assets/images/bag-grey-big.png');
      background-position: 5px 20px;
      background-size: 20px;

      &:hover{
        color: $pine-green;
        background-image: url('/assets/images/bag-green-big.png');
      }
    }
    &.photos-link{
      background-image: url('/assets/images/photos-grey.png');

      &:hover{
        color: $sky-blue;
        background-image: url('/assets/images/photos-blue.png');
      }
      //padding-left: 65px;
    }
    &.kitchen-link{
      background-image: url('/assets/images/pot-outline.png');

      //&:hover{
      //  color: $sky-blue;
      //  background-image: url('/assets/images/photos-blue.png');
      //}
      //padding-left: 65px;
    }

  }

  li.active{
    a:not(.home-link)::after{
      content: '▲';
      font-size: 1.7rem;
      position: absolute;
      bottom: -12px;
      right: 38%;
      color: #fff;
      text-shadow:
      -1px -1px 0 darken($pale-grey, 10%),
      1px -1px 0 darken($pale-grey, 10%),
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
    }
    a.home-link{
      color: $iridium;
      background-image: url('/assets/images/house-pink.png');
      background-size: initial;
      background-position: -12px 12px;
    }
    a.all-link{
      color: $iridium;
      background-image: url('/assets/images/grid-pink.png');
      //&::after{
      //  bottom: -31px;
      //}
    }
    a.ideas-link{
      background-image: url('/assets/images/lamp-grey.png');
      color: $dark-orange;
      background-image: url('/assets/images/lamp-orange.png');
    }
    a.products-link{
      color: $pine-green;
      background-image: url('/assets/images/bag-green-big.png');
    }
    a.photos-link{
      color: $sky-blue;
      background-image: url('/assets/images/photos-blue.png');
    }
  }


}

.like-nav{
  li{
    width: 50px;
    padding-top: 9px;
    float: left;

    &:first-child{
      width: 64px;
    }
    &:last-child{
      width: auto;
    }

    a{
      padding-top: 15px;
      padding-left: 10px;
      background-position: initial;

      &.like-counter{
        height: 40px;
        padding-left: 30px;
        padding-top: 13px;
        color: $iridium;
        background-position: left 14px;
      }

      &.author{
        width: 50px;
        height: 48px;
        padding: 0;
        background-size: cover;
        border-radius: 90px;

        &:hover{
          border: 2px solid $iridium;
        }
      }

    }
  }

}


// IDEAS (CMS / STORIES)

.idea-stories{

  //article.post{
  //  position: relative;
  //  overflow: visible;
  //}

  .article-content{
    p{
      color: darken($light-grey, 30%);
      line-height: 1.6;
      font-size: 1.5rem;
    }
    img{
      //width: 100%;
      height: auto;
      border: 1px solid #eee;
    }
  }

  .story-details{
    float: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 36px 0;
    text-align: center;

    h4{
      width: 100%;
      text-align: center;
    }

    .about-author{
      color: darken($light-grey, 10%);
    }

    .author-overview{
      padding-top: 10%;
    }

    .content-tags{
      width: 275px;
      margin: 15px auto 40px;
      //margin-top: 15px;
      //margin-bottom: 40px;
      overflow: hidden;
      a{
        float: left;
        padding-left: 25px;
        padding-right: 10px;
        font-size: 1.1rem;

        &.products-link{
          padding-left: 18px;
        }
      }
    }

    .author-image-big{
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

  .author-description{
    background: $pale-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px 0;
    border: 1px solid darken($pale-grey, 10%);

    h4{
      color: darken($light-grey, 10%);
    }

    p{
      color: $light-grey;
    }
  }

  .comments{

    h4{
      margin-bottom: 80px;
    }

    .single-comment{
      min-height: 100%;
      overflow: hidden;
      color: $light-grey;

      .comment-author{
        text-align: center;
        padding-right: 0;
      }
      b{
        color: $tarmac;
      }
      .btn-white{
        background: url("/assets/images/heart-grey-outline.png") 2px center no-repeat;
        padding-left: 25px;

      }
    }

    .add-comment{
      margin-top: 35px;

      textarea{
        min-height: 100px;
      }
    }

    .comment-controls{
      width: 250px;
      margin-top: 10px;
      //padding-left: 57px;
      .add-photo{
        color: darken($light-grey, 10%);
        background: url("/assets/images/camera-grey.png") 5px center no-repeat;
        padding-left: 40px;
        margin-right: 17px;

      }

      .btn-info{
        width: 100px;
      }
    }

    datetime{
      font-size: .9rem;
    }

  }

  .related-items{
    margin-top: 100px;
    background: $pale-grey;




    h3{
      margin-top: 35px;
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    .wrap{
      position: relative;
    }


    .grid-box{
      overflow: visible;
      margin-bottom: 35px;
      cursor: pointer;

      .wrap{
        width: 100%;
        border-radius: 3px;
      }

      img{
        width: 100%;
        border-radius: 3px;
        border: 1px solid lighten($light-grey, 15%);
      }

      .color-overlay{
        border-radius: 3px;
      }

      .author{
        position: absolute;
        bottom: -32px;
        right: 26px;
      }

      datetime{
        color: $tarmac;
        padding-right: 0;
      }

      .like-wrap{
        margin-left: 0%;
      }

      &:hover{
        .wrap{
          border: 1px solid $sky-blue;
        }
          .color-overlay{
          display: block;
        }
      }
    }



  }



}


footer.about-footer{

  //display: none;
  padding: 55px 0;
  background: #171617;
  position: relative;
  //position: fixed;
  //bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 10;

  h4{
    margin-bottom: 35px;
  }

  li{
    margin-bottom: 20px;
  }

  a{
    color: #fff;
    font-size: 1.3rem;

  }

  .social-connect{
    li{
      margin-bottom: 3px;
    }
    a{
      display: block;
      width: 100%;
      max-width: 350px;
      padding: 0 0 0 45px;
      border-radius: 4px;
      border: 1px solid lighten(#171617, 20%);
      background-position: 9px center;


      span{
        display: inline-block;
        width: 100%;
        background: #171617;
        padding: 4px 10px;

        b{
          display: inline-block;
          float: right;
          text-align: right;
        }
      }

      &.fb{
        &:hover{
          span{
            background: $facebook-blue-2;
          }
        }
      }
      &.twi{
        &:hover{
          span{
            background: $twitter-blue;
          }
        }
      }
      &.gp{
        &:hover{
          span{
            background: $google-red;
          }
        }
      }
      &.pint{
        &:hover{
          span{
            background: $pinterest-red;
          }
        }
      }
      &.inst{
        &:hover{
          span{
            background: $instagram-blue;
          }
        }
      }

      &.pint,
      &.inst{
        background-position: 12px center;
      }
    }
  }

  input[type="text"]{
    width: 70%;
    max-width: 275px;
    min-width: 175px;
    background: lighten(#171617, 20%);
    padding: 3px 12px;
    border-radius: 4px;
    border: 0;
    float: left;
    //outline: ;
  }

  input[type="submit"]{
    width: 75px;
    float: left;
    margin-left: -10px;
    border-radius: 0 4px 4px 0;
  }

  .close-down{
    position: absolute;
    top: 30px;
    right: 20px;
  }
}


// RESPONSIVE BEHAVIOUR

@media only screen and (max-width: 1200px){
  #top-nav a {
    margin-right: 3%;
  }

  #mid-nav{
    .container{
      //padding-left: 60px;
    }
    a {
      padding-left: 10px;
      padding-right: 10px;

      &.more-link {
        background-size: contain !important;
      }

      &:hover{
        //padding-left: 16px;
        //padding-right: 16px;
        background-size: contain !important;

      }
    }
    .extra-nav {
      right: 16%;
    }
  }

  .why-us {
    margin-top: 0;
  }

  @media (min-width:768px){

    footer.about-footer{
      input[type="submit"]{
        border-radius: 4px;
        margin: 5px auto;
      }
    }

  }




}

@media only screen and (max-width: 992px){
  header.colophon.scroll-header #top-nav .search-bar {
    margin-left: 0%;
  }

  header.colophon{
      .search-bar{
        margin-left: 0;
      }

    #top-nav{
      .category-menu{
        padding: 0 10px 0 5px;
      }
    }

    .signin{
      width: 120px;
    }
  }

  .shop-menu{
    padding-left: 10px;
    padding-right: 10px;
  }

  .why-us h2 {
    font-size: 3.3rem;
  }


  //#hero-nav {
  //  li.active{
  //    a {
  //      padding-left: 28px;
  //
  //      &.home-link{
  //        background-position: -19px 11px;
  //      }
  //    }
  //  }
  //}

  .bottom-load-more{
    margin-top: 65px;
  }

  //#back-to-top{
  //  bottom: 3.5%;
  //}

  .full-sm{
    width: 100%;
    padding: 0;
  }

  .get{
    margin-bottom: 0;
  }

  //.story-details{
  //  width: 300px;
  //}

  article.post{
    padding-left: 20px;
    padding-right: 20px;
  }



}


@media only screen and (max-width: 992px) and (min-width: 620px){

  html,
  body,
  .container.fixed-sm{
    min-width: 920px;
  }


  #hero-nav {
    li.active{
      a {
        padding-left: 28px;

        &.home-link{
          background-position: -19px 11px;
        }
      }
    }
  }

}


@media only screen and (max-width: 768px){

  .get-it.author{
    display: none;
  }

  #mobile-side-filters{
    padding-left: 0;
    div:not(#idea-filter),
    h5{
      display: none;
    }
  }

  #mid-nav{

    .extra-nav {
      right: 20%;
    }
  }

  footer.about-footer h4 {
    margin-top: 35px;
  }


}


@media only screen and (max-width: 620px){

  body:not(.single-post){
    #about-button{
      display: none;
    }
  }

  .hidden-620{
    display: none !important;
  }

  .shown-620{
    display: block !important;
  }

  .full-620{
    width: 100%;
    padding: 0;
  }

  body{
    padding-bottom: 60px;

    //#back-to-top {
    //  bottom: 0%;
    //}
  }

//.header.colophon{
  #top-nav{
    padding-top: 15px ;
    padding-bottom: 15px ;
    position: relative;
    z-index: 999;
    background: #fff;

    .mobile-menu-switch{
      width: 20px;
      height: 20px;
      float: left;
      margin-left: 9px;
      margin-top: 18px;
      background: url("/assets/images/menu-black.png") no-repeat;
      cursor: pointer;

      &.active{
        background-image: url("/assets/images/cross-black.png");
        margin-top: 13px;
        background-position: 0;
      }
    }

    .mobile-menu{
      width: 80%;
      //display: block !important;
      position: absolute;
      z-index: 99;
      top: 73px;
      background: #fff;
      padding: 0 40px 40px 0;
      border-top: 6px solid #f3f3f3;

      a{
        text-indent: 0;
        width: 100%;
        padding: 15px 0 15px 40px;

        &:not(.rooms-link){
          font-size: 1.7rem;
          border-bottom: 1px solid #eee;
          padding-left: 80px;
          background-position: 40px center;
          background-size: 25px;
          background-repeat: no-repeat;
        }
        //&.ideas-link{
        //  color: $dark-orange;
        //  background-image: url("/assets/images/lamp-orange.png");
        //}
        //
        &.products-link{
          background-size: 20px;
          background-position: 45px center;
        }
        //
        //&.photos-link{
        //  color: $sky-blue;
        //  background-image: url("/assets/images/photos-blue.png");
        //}

        &.rooms-link{
          color: $tarmac;
        }

      }

      .nested{
        ul{
          float: left;
          //li{

            a{
              font-size: inherit;
              border: 0;
              color: $light-grey;
              padding: 15px 0 15px 40px;


              &::after{
                display: none;
              }
            }
          //}
        }
      }
    }

    .mobile-wrap{
      width: 259px;
      float: right;

    }

    .mobile-category-menu{
      text-indent: -9999px;
      width: 95px;
      margin-top: 9px;
      padding-right: 0 !important;
       margin-left: 22px;
      li{
        a{
          width: 27px;
          height: 24px;
          float: left;
          padding: 0;
          margin-left: 10px;
          margin-right: 0;
          margin-top: 4px;
          background-size: initial !important;

          //&.shop{
          //  background-size: 23px;
          //}
        }
      }
    }

    .logo-wrap{
      width: 195px;
      margin-left: 0;
    }

    .search-bar{
      width: 40px;
      height: 40px;
      margin: 0;
      margin-top: 3px;
      padding: 0 !important;

      a{
        display: block !important;
        height: 40px;
        width: 40px;
        margin: 0;
        margin-right: 30px;
        padding: 0;
      }


    }

    .signin{
      width: 80px !important;
      padding: 0 4px;
      margin-right: 0;
      margin-top: 10px;
      a{
        cursor: pointer;
        width: 100% !important;
        padding-left: 25px !important;
        text-indent: 0 !important;
        background: $iridium;
        padding: 4px;
        border-radius: 3px;
        color: #fff  !important;;
        text-transform: none;
        background-image: url("/assets/images/signin-white.png") !important;
        //background-size: 20px;
        background-position-x: 5px !important;
      }
    }

  }
//}


  .main-content.landing{
    padding: 0 0 20px;
  }

  #mid-nav, .extra-nav {
    margin-bottom: 15px;
  }

  #hero{
    min-height: 570px;
    padding-bottom: 20px;

    .hero-background{
      -webkit-filter: none;
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }


    & > .container{
      padding-top: 0;
    }

    &.details-hero{
      min-height: 400px;
    }
  }

    #hero-nav{

      .category-nav {
        width: 100%;
        padding-left: 8%;
        .home-link{
          min-width: 24px;
          text-align: center;
        }
      }

      li{
        //margin-left: 16px;
        height: 70px;
      }

      li.active a::after {
        right: 27% !important;
      }

      //li.active a.all-link::after{
      //  bottom: -27px;
      //}

      a{
        //background-position: left;
        //background-repeat: no-repeat;
        padding-left: 35px;
        padding-top: 40px;
        background-size: 30px;
        margin-right: 1%;
        font-size: 1.3rem;

        &.home-link{
          display: none;
        }

        &:not(.home-link) {
          //padding-top: 30px;
          background-position: 36px 13px !important;
          //margin-top: 7px;
        }
        //
        &.all-link{
          background-position: 28px 13px !important;
        }
        &.ideas-link{
          //background-position: ;
        }

        &.photos-link{
          //padding-left: 45px;
            background-position: 43px 13px !important;
          //background-size: 39px !important;
        }
        //
        &.products-link{
          background-position: 56px 13px !important;
          //background-size: 29px !important;
        }

      }
  }


  #mid-nav a {
    font-size: 1.8rem;
  }

  .grid-box{
    margin-top: 30px;

    h3,
    {
      padding-left: 20px;
    }
    b.price{
      padding-left: 20px;
    }

    .img-wrap{
      border-radius: 0;
      border: 1px solid #eee !important;
      border-bottom: 1px solid #eee !important;

      &:hover{

      }
      img{
        border-radius: 0 !important;
        border-bottom: 1px solid #eee;
      }
    }

    &.big-box{
      datetime{
        padding-left: 20px;
      }
    }

  }

  .grid-box .img-wrap .get-it:not(.big),
  .grid-box .img-wrap a.author{
    right: 45%;
    bottom: 3px;
  }

  .extra-nav {
    top: 49px;
    right: 8%;
  }

  .why-us{
    text-align: center;
    padding-top: 25%;
    li{
      background-position: 10px 15px !important;
    }
    .btn{
      margin: 0 auto;
      display: block;
      float: none;
    }
  }



  .latest-heading {
    padding-top: 10px;
  }

  .bottom-load-more{
    width: 95%;
    margin-left: 3%;
  }

  //.author-image-big{
  //
  //  img{
  //    max-width: 100%;
  //    height: auto;
  //  }
  //}

  .like-wrap {
    margin-left: 30%;
  }

  .idea-stories .story-details{
    .author-overview {
      padding-top: 5%;
    }

    .content-tags{
      margin-bottom: 0;
    }
  }



  }

@media screen and (max-width: 480px){

  .full-480{
    width: 100%;
    padding: 0;
  }

  #hero{
    min-height: 450px;
    .why-us{
      padding-top: 70px;

      h2{
        font-size: 2.8rem;
      }
      li{
        padding-left: 25px;
        padding-right: 10px;
        font-size: 1.5rem;
      }
    }

  }

  .story-details{
    .author-image-big{
      max-width: 100px;
      float: left;
    }
    .author-overview{
      padding-top: 0 !important;
      float: right;
      width: 65%;
    }

    .content-tags{
      padding-right: 30px;
      a{
        display: block;
        width: 105px;
        margin: 5px auto;
        float: none !important;
      }
    }

  }

  .comments h4{
    margin-bottom: 30px;
  }

  .single-comment{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    .comment-author{
      width: 65px;
      padding: 0;
    }

    a.author {
      width: 49px;
      height: 50px;
    }

    .col-sm-8.col-xs-7{
      width: 80%;
      p, .comment-name{

        font-size: 1rem;
      }
    }

    .btn-white{
      float: right;
    }

    .field-wrap{
      width: 80%;

      textarea{
        min-height: 67px !important;
      }

      .btn{
        float: right;
      }
    }
  }




  .grid-box{
      &:hover .img-wrap {
        border: 2px solid $sky-blue;
        box-shadow: 0 0 0 0 #fff;
      }

    .img-wrap{
      .category-tag{
        background-size: 38px !important;

        &.product{
          background-size: 29px !important;
        }
      }
    }

    p{
      padding-left: 10px;
    }
  }

  .grid-box.big-box {
    .category-tag {
      padding-left: 38px;
      background-position: 11px center !important;
    }
  }



  #top-nav{
    .logo-wrap{
      width: 120px;
      padding-left: 12px;
      margin-left: 0;
    }

    .mobile-wrap{
      width: 250px;
      float: right;
    }

    a {
      text-indent: -9999px;
      width: 40px;
      padding-left: 5px;
      padding-right: 0px;
      margin-left: 0;
    }
  }


  #mid-nav{
    a {
      padding-left: 2.2%;
      padding-right: 2.2%;
      padding-left: 3%;
      padding-right: 2.5%;
      font-size: 1.6rem;

      &.more-link{
        padding-left: 5%;
      }
    }

    li.selected a,
    a:hover{
      margin-top: 6px;
      padding-left: 1.5%;
      padding-right: 1.5%;
      background-color: #CE1F46;
    }
  }



  #hero-nav{
    .category-nav{
      padding-left: 3%;
    }
    a {
    padding-right: 5%;
    }

    li.active a::after {
      right: 8% !important;
    }
  }

  //#hero-nav

  .logo-wrap{
    padding: 0;
  }


  .search-bar{
    padding-top: 0;

    input{
      display: none;
    }

    #hero-nav{
      &.all-link{
        background-position: 4px top;
      }
    }
  }


  #ideaing-logo {
    //height: auto;

      &.top-logo{
        margin-top: 10px;
      }
  }

  header.colophon .search-bar input {
    min-width: 125px;
  }

  .signin{
    margin-right: 0;
  }

  .author-image{
    margin: 0 auto;
    display: block;
    float: none;
  }

  .share-bar {
    //display: block;
    position: static !important;
    width: 100%;
    float: none;
    overflow: hidden;
    padding-left: 7%;
    padding-top: 3%;
  }

}


@media screen and (max-width: 380px) {
  #top-nav{
    .mobile-category-menu {
      margin-left: 8px;
    }

   .mobile-wrap {
      width: 225px;
      float: right;
    }
  }


  #mid-nav {
    a {
      padding-left: 1.5%;
      padding-right: 1.5%;
      font-size: 1.5rem;
    }
  }

  #hero-nav a {
    //padding-left: 4%;
    padding-right: 4%;

    //&.photos-link {
    //  padding-left: 21px;
    //}

  }

}

@media screen and (max-width: 370px) {

  #top-nav{
    a {
    width: 28px;
    margin-left: 0;
   }
    .mobile-wrap{
      width: 170px;
    }
 }

  #hero-nav{
    padding-left: 0;
      a {
        //padding-left: 2%;
        padding-right: 2%;

        //&.all-link {
        //  background-position: 0px top !important;
        //}
        //&.photos-link {
        //  //padding-left: 21px;
        //}
    }

  }

}









