/* mixins generic */

// Opacity
@mixin opacity($value, $ie:true) {
  opacity: $value;
  @if $ie == true {
    $IEValue: $value*100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
        filter: alpha(opacity=$IEValue);
  }
}

// Transition
@mixin transition($properties) {
 -webkit-transition: $properties;
    -moz-transition: $properties;
     -ms-transition: $properties;
      -o-transition: $properties;
         transition: $properties;
}

// Animation
@mixin animation($params) {
  -webkit-animation: $params;
     -moz-animation: $params;
          animation: $params;
}

// Transform
@mixin transform($params) {
  -webkit-transform: $params;
     -moz-transform: $params;
          transform: $params;
}
@mixin transform-style ($params) {
  -webkit-transform-style: $params;
     -moz-transform-style: $params;
          transform-style: $params;
}

// Perspective
@mixin perspective($depth: none) { // none | <length>
  -webkit-perspective: $depth;
     -moz-perspective: $depth;
          perspective: $depth;
}
@mixin perspective-origin($value: 50% 50%) {
  -webkit-perspective-origin: $value;
     -moz-perspective-origin: $value;
          perspectiv-origine: $value;
}

// Filter
@mixin filter($properties) {
  -webkit-filter: $properties;
          filter: $properties;
}

// Box Shadow
@mixin box-shadow ($properties) {
  -webkit-box-shadow: $properties;
     -moz-box-shadow: $properties;
          box-shadow: $properties;
}

// Box Shadow
@mixin border-radius ($properties) {
  -webkit-border-radius: $properties;
     -moz-border-radius: $properties;
          border-radius: $properties;
}

//Retina image
@mixin retina-img($url, $width, $height) {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        /* on retina, use image that's scaled by 2 */
        background-image: url($url);
        background-size: $width $height;
    }
}


@mixin round-box($color, $image-link) {
	display:  inline-block;
	width: 88px;
	height: 35px;
	//display: inline-block;
	font-size: 1.7rem;
	border-radius: 30px;
	padding: 0 10px 0 0 !important;
	color: $color;
	border: 1px solid $pale-grey;
	background: transparent;
    text-align: center;

	//&.orange{
	//  padding-left: 35px;
	//  background: url("/assets/images/heart-orange.png") 0 top no-repeat;
	//}

    i.m-icon{
        color: white;
        background: $color;
        padding: 5px;
        border-radius: 20px;
        padding-top: 7px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 6px;
        float: left;
    }

	/*span{
		display: inline-block;
		height: 33px;
		width: 35px;
		//margin-top: -10px;
		margin-left: -3px;
		float: left;
		border-radius: 30px;
		text-indent: -9999px;
		background:$color url($image-link) center no-repeat;
		background-size: 18px !important;
		background-position: center !important;
	}*/
	b{
		display: inline-block;
        position: relative;
		top: 5px;
		color: $color;
	}

	&:hover{
		background: $color;
/*		border: 0px;*/
        color: white;
		b{
			color: #fff !important;
		}
	}
}
@mixin idea-hero-tags($color) {
      span{
/*        background-image: url('/assets/images/icons/bag-glow-red.png');*/
      }
      h6{
        background: $color;
      }
      img.round{
        border-color: $color !important;
        -webkit-box-shadow: 0px 0px 62px 5px $color;
        -moz-box-shadow: 0px 0px 62px 5px $color;
        box-shadow: 0px 0px 62px 5px $color;
      }
      .hover-box{
        &::before{
          border-color: transparent transparent $color transparent;
        }
      }

}