body.home{
  #hero-slider{
    .rsNav.rsBullets{
       top: -30px;
    } 
  }
}
body.home.logged-in{
  
  #hero {
    min-height: 480px;
  }

 
 
}

.homepage-grid {
    position: relative;
	width: auto;
	max-width: 1170px;
    overflow: visible;

    &.center-block{
      min-height:1000px;
    }

   .wrap{
     min-height: 300px;
   }

	@media (max-width: 767px) {
		padding: 0 0;
	}

	.grid-box-3:first-child {
/*		margin-top: -1px;*/
	}

}

#hero-bg{
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

#hero-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;

  //.homepage &{
  //  padding-top: 50px;
  //}

  .product-box{
    float: left;
  }

  .box-item__author{
    position: relative;
    margin: 0 auto;
    width: 193px;
    top: -75px
  }
  .box-item__label{
    float: none;
  }

  .box-item .img-holder img{
    width: 1176px;
    max-width: 100%;
  }

  .box-item .img-holder img{
    max-width: none;
  }
 
  .product-box {
    max-width: 100%;
  }


 .rsNav.rsBullets{
    padding-top: 0;
    top: -20px; 
    z-index: 40; 
    }

  & + .color-overlay{
    background-color:rgba(0,0,0,.4);
    z-index: 30; 
    }

  .rsOverflow{
    z-index: 38;
    margin-top:4px;
  }




  @media(max-width:500px){

 .rsNav.rsBullets{
    padding-top: 0;
      top: -56px;
  }

    .rsArrow{
      top: 61%;
    }

    .rsSlide:not(.rsActiveSlide)  {
      display: none;
    }


  }

}
body.homepage:not(.logged-in){
  #hero-slider{
    .rsOverflow{
       margin-top:30px;
    }
    .rsNav.rsBullets{
       top: -34px;

        @media (max-width:620px){
          top: -62px;
       }

    }
  }
 
}
.blur-overlay{
  background-image: url('https://d234pm57oy3062.cloudfront.net/homehero/11/homehero-image-56f8ffa2244c6-landing-hero-3.jpg');
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
//.idea-stories .color-overlay{
//  margin-top: -21px;
//}


.rsArrow {
  z-index: 50;
  &.rsArrowLeft{
    -webkit-animation: antiBounce 2s infinite ease-in-out;
  }
  &.rsArrowRight{
    -webkit-animation: bounce 2s infinite ease-in-out;
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateX(0); }
  40%  { -webkit-transform: translateX(-20px); }
  80% { -webkit-transform: translateX(-10px); }
}

@-webkit-keyframes antiBounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateX(0); }
  40%  { -webkit-transform: translateX(20px); }
  80% { -webkit-transform: translateX(10px); }
}

.response-wrap{
  background-color: lightgrey;
  text-align: center;
  strong{
    color: $iridium;
  }
}