// SHOP PAGE AND SHOP MENU

body.shop-landing{
  font-family: Montserratlight, sans-serif;

  .app-wrap{
    position: relative;
    background: #F7F7F7;
    overflow: hidden;
    padding-bottom:40px;
    .main-content{
      margin-top: 70px;
    }
  }


  .sub-item-container{
    position: relative;
    display: block;
    margin-bottom: 120px;
  }

  .shoplanding-title{
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    legend{
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      border: none;
      width: auto;
      font-size: 25px;
      color: #3d3d3d;
      margin: 0 auto;
      .fill-with-red{
        color: #EC1B47;
        font-size: 25px;
        margin-right: 7px;
      }
      .fill-with-purple{
        color: #94489A;
        font-size: 25px;
        margin-right: 7px;
      }
    }
  }

  ul.nav-tabs.nav{
    border: none;
    border-bottom: 1px solid #DDDDDC;
    width: 556px;
    margin: 0 auto;
    li{
      border: none;
      padding: 0;
      margin: 0;
      a{
        border: none;
        font-size: 1.5rem;
        color: #737374;
        width: 100%;
        text-align: center;
        margin: 0;
        font-weight: lighter;
        background: transparent;
        &:hover{
          background: transparent;
        }
      }

      &.active>a, &.active>a:focus, &.active>a:hover{
        border: none;
        color: #151515;
        background: transparent;
      }
    }

    .category-smart-home{
      &.active>a, &.active>a:focus, &.active>a:hover{
        color: $iridium;
      }
      a::before{
        background-color: $iridium;
      }
      a:hover{
        color: $iridium;
      }
    }
    .category-smart-body{
      &.active>a, &.active>a:focus, &.active>a:hover{
        color: $facebook-blue;
      }
      a::before{
        background-color: $facebook-blue;
      }
      a:hover{
        color: $facebook-blue;
      }
    }
    .category-smart-entertainment{
      &.active>a, &.active>a:focus, &.active>a:hover{
        color: $pine-green;
      }
      a::before{
        background-color: $pine-green;
      }
      a:hover{
        color: $pine-green;
      }
    }
    .category-smart-travel{
      &.active>a, &.active>a:focus, &.active>a:hover{
        color: $dark-orange;
      }
      a::before{
        background-color: $dark-orange;
      }
      a:hover{
        color: $dark-orange;
      }
    }
  }


  .hot-deals{
    padding: 20px 10px 30px 20px;
    margin-bottom: 100px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    legend{
      color: #94489A;
      padding-left: 0;
      line-height: 42px;
      margin: 0;
    }
    h1{
      font-family: montserratlight, sans-serif;
      font-size: 37px;
      padding: 0 0 0 35px;
      color: #000000;
    }

    .left-price-description{
      z-index: 1;
      .price-container{
        margin-top: 150px;
        .normal-price{
          span{
            padding-left: 5px;
            color: #404041;
            font-size: 19px;
          }
          .line-through-price{
            text-decoration: line-through;
            color: #B9B9BA;
            padding-left: 15px;
          }
        }
        .big-price-container{
          span{
            color: #94489A;
            font-size: 75px;
            font-family: montserratbold;
            padding: 15px 0;
          }
        }
        .get-it-inner{
          text-align: left;
          margin-top: 30px;
          button{
            width: 110px;
            height: 45px;
            background: #000000;
            color: #FFFFFF;
          }
        }
      }
    }

    .right-view-container{
      position: relative;
      width: 130%;
      margin-top: -150px;
      margin-left: -180px;
      img{
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }


  }


  .multirow-image-view{

    .image-row-view{
      border: 1px solid #ECECEC;
      border-radius: 7px;
      overflow: visible;
      margin: 0 auto;
      margin-top: 20px;
      position: relative;
      background: #FFFFFF;

      .item-image-container{
        border-right: 1px solid #ECECEC;
        height: 85px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        position: relative;
        img{
          max-width: 85px;
          max-height: 65px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      p{
        font-size: 13px;
        margin: 20px 5px;
        text-align: left;
        color: #737374;
      }
    }
  }


  .popular-box{
    counter-reset: popular-box-count;
  }

  .popular-box-number{
    &::before{
      counter-increment: popular-box-count;
      content: counter(popular-box-count);
      position: absolute;
      left: -7px;
      top: -8px;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid;
      width: 25px !important;
      height: 25px !important;
      border-radius: 50%;
      font-weight: 700;
      padding: 2px 8px;
      color: #FFFFFF;
      z-index: 50;
      font-size: 13px;
    }
  }


  .big-image-view{
    max-height: 300px;
    max-width: 400px;
    margin: 20px 0 auto;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    &::before{
      position: absolute;
      left: -5px !important;
      top: -7px !important;
    }
    img{
      max-width: 100%;
      height: 298px;
    }
  }

  .tab-content{
    margin-top: 30px;
  }

  .tab-pane{
    margin: 10px 0;
    .category-smart-home{
      .popular-box-number{
        &::before{
          border-color: $iridium;
          color: $iridium;
        }
      }
    }
    .category-smart-body{
      .popular-box-number{
        &::before{
          border-color: $facebook-blue;
          color: $facebook-blue;
        }
      }
    }
    .category-smart-entertainment{
      .popular-box-number{
        &::before{
          border-color: $pine-green;
          color: $pine-green;
        }
      }
    }
    .category-smart-travel{
      .popular-box-number{
        &::before{
          border-color: $dark-orange;
          color: $dark-orange;
        }
      }
    }


    .box-item{
      position: relative;
      overflow: visible;
      height: 100%;
      float: none;
      margin: 0;
      .box-item__overlay{
        border-radius: 10px;
      }
    }


    .multirow-image-view{
      .image-row-view{
        .box-item{
          position: relative;
          overflow: visible;
          height: 87px;
          float: none;
          margin: 0;
          .box-item__overlay{
            border-radius: 7px;
          }
        }
      }

    }


  }



  .bottom-newest-arrival{
    ul.nav-tabs.nav{
      width: 311px;
    }
  }













  .mid-nav{
    .wrap{
      height: 55px;

    }
  }

  #daily-deals{
    margin-left: -15px;
    margin-right: 15px;
    .box-item{
      margin-left: 30px;
    }
    .box-item__time{
      margin-right: 30px;
    }
    .social-stats{
      margin-right: 30px;
    }
    @media (max-width: 1230px){
      .box-item--featured::before{
        display: none;
      }
    }
  }
  .slider{
    margin-bottom: 20px;
    .box-item{
      border-top: 1px solid #eee;
    }
  }
  .shop-by-category-item{
    text-align: center;
    position: relative;
    border: 1px solid #e6e6e6;
    padding-top: 50px;
    padding-bottom: 50px;
    img,span{
      display: inline-block;
    }
    .show-menus, .hide-menus{
      position: absolute;
      right: 20px;
      bottom: 20px;
      > i{
        color: #003e54;
        font-size: 25px;
      }
    }
    .show-menus{
      display: block;
    }
    .hide-menus{
      display: none;
    }

    &.smart-home{
      color: #c47289;
    }

    &.travel{
      color: #406e7f;
    }

    &.wearables{
      color: $pine-green;
    }

    &.home-decor{
      color: $pine-green;
    }

    &.selected{

      .show-menus{
        display: none;
      }
      .hide-menus{
        display: block;
      }

      &.smart-home{
        background: $smart-home-light;
      }

      &.travel{
        background: $travel-light;
      }

      &.wearables{
        background: $wearables-light;
      }

      &.home-decor{
        background: $home-decor-light;
      }
    }
  }
  .shop-by-category-submenu{
    display: none;
    &.selected{
      display: block;
    }

    > div{
      text-align: center;
      height: 284px;
      overflow: hidden;
      padding-top: 35px;
      border: 1px solid #fff;
      color: white;
      a{
        color: white;
      }
      i.desktop-parent-icon{
        font-size: 25px;
        margin-bottom: 25px;
        display: inline-block;
      }
    }
    &.smart-home{
      > div{
        background: $smart-home;
      }
    }
    &.active{
      > div{
        background: $travel;
      }
    }
    &.wearables{
      > div{
        background: $pine-green;
      }
    }
    &.home-decor{
      > div{
        background: $home-decor;
      }
    }
    @media (max-width: 991px){
      > div{
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
        min-height: unset;
        i{
          float: left;

        }
        .title{
          text-align: left;
          padding-left: 38px;

        }
      }
    }
  }

  .mobile-shop-by-category-holder{
    .shop-by-category-item{
      text-align: left;
      border: 0;
      padding-top: 10px;
      padding-bottom: 20px;
      &.smart-home{
        background-color: $smart-home-light;
      }
      &.travel{
        background-color: $travel-light;
      }
      &.wearables{
        background-color: $wearables-light;
      }
      &.home-decor{
        background-color: $home-decor-light;
      }
      .shop-by-category-item-link {
        img{
          margin-right: 15px;
        }
      }
      &.active{
        .shop-by-category-submneu {
          display: block;
        }

        .show-and-hide{
          .up{
            display: block;
          }
          .down{
            display: none;
          }
        }
      }
    }
    .show-and-hide{
      float: right;
      cursor: pointer;
      margin-top: 11px;
      i{
        font-size: 15px;
      }
      .up{
        display: none;
      }
    }
    .shop-by-category-submneu{
      >div{
        margin-left: 0px;
        margin-right: 0px;
        height: auto;
        background: none;
        border: 0px;
        i{
          margin-bottom: 0px;
        }
        .show-and-hide-grandchild{
          .close{
            display: none;
          }
          i{
            font-size: 15px;
          }
        }
        .grandchild-holder{
          clear: both;
          text-align: left;
          color: #333;
          margin-top: 45px;
          .grandchild-item{
            >a{
              display: block;
              padding: 5px;
              &:hover{
                background: $iridium;
                color: #fff;
              }
            }
          }
        }
        &.active, &.selected{
          .show-and-hide-grandchild{
            .add{
              display: none;
            }
            .close{
              display: block;
            }
          }
          .grandchild-holder{
            display: block;
          }
        }
      }
      a{
        color: #333;
      }
      .title{
        float: left;
        padding-left: 15px;
      }
      .show-and-hide-grandchild{
        float: right;
        cursor: pointer;
      }
      .grandchild-holder{
        display: none;
      }
    }
  }

}


.shop-page-header{
  background: transparent;
  header{
    background: transparent;
    #top-nav{
      max-height: 110px !important;
      background: transparent;
      padding-bottom: 15px;
      border: none;

      div.top-nav-holder {
        background: #FFFFFF !important;
        margin: 0 auto;
        border: none;
      }

      .category-menu{
        background: #FFFFFF;
        margin: 0 auto;
        padding: 0;
        bottom: 0;
        ul{
          margin-left: 70px;
          .category-link__deals{
            display: block;
          }
        }
      }

      .search-box-container{
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 15px;
        border: none;
        .shop-button-container{
          display: block;
          z-index: 50;
          border: none;

          .category-link__shop{
            display: block;
            height: auto;
            margin-left: 50%;
            transform: translate(-50%, 0);
            padding: 0;
            padding-top: 5px;

            &::before{
              content: "";
              position: absolute;
              width: 115%;
              height: 2px;
              background: #000000;
              top: 32px;
              left: -3px;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all .3s ease-in-out 0s;
              transition: all .3s ease-in-out 0s
            }

            &:hover{
              &::before{
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }

            .m-icon{
              font-size: 16px;
              color: #FFFFFF !important;
            }
            span{
              font-size: 1.5rem !important;
              color: #3d4b4e;
              text-transform: capitalize;
            }
          }
        }
        .search-bar__overlay{
          position: fixed;
          left: 0;
          right: 0;
          top: 54px;
          height: 55px;
          background-color: #FFF;
          opacity: .4;
          border-bottom: 1px solid #ECECEC;
        }
      }

      .search-bar.desktop-search-bar{
        left: 0;
        top: 0;
        padding: 0;
        margin: 0 auto;
        width: 760px;
        height: 33px;
        border: none;
        &::before{
          display: none;
        }

        &::after{
          display: none;
        }

        .search-input-holder{
          position: relative !important;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 0;
          margin: 0;
          .hide-search{
            display: none;
          }
        }
      }

      .searchbutton-wrap{
        display: none;
      }
      .category-link__shop{
        display: none;
      }
      .desktop-search-bar{
        opacity: 1;
        display: block;
      }
    }


  }
}




.shop-menu{
  width: 100%;
  min-width: 972px;
  min-height: 375px;
  position: absolute;
  overflow: hidden;
  background: #fff;
  z-index: 40;
  top: 55px;

  .sub-title a{
    position: static !important;
    text-transform: uppercase !important;
  }
  @media only screen and (max-width: 768px){
    top:0px;
  }

  section{
    padding: 0;
  }

  h5{
    padding-top: 35px;
    padding-bottom: 22px;
    border-bottom: 1px solid lighten($light-grey, 15%);
    margin-bottom: 25px;
    a:hover{
      color: $iridium;
    }
  }

  .img-wrap{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 9px;
    overflow: hidden;
  }

  .travel,
  .wearables,
  .home-decor{

    .img-wrap{
      overflow: hidden;
      min-height: 0;

      img{
        width: 50px;
        height: 46px;
      }
    }

    b{
      a{
        padding-left: 8px;
        padding-top: 15px;
        text-transform: none;
        color: $tarmac;
        font-weight: normal;
      }
    }

  }


  a{
    padding: 0;

  }

  .col-xs-4{
    span,
    a{
      position: absolute;
      left: 25px;
      bottom: 50px;
      color: $tarmac;
    }

    span{
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    a{
      bottom: 30px;
      text-transform: capitalize;
      font-size: 1.7rem;
    }

    img{
      height: 217px;
      display: block;
    }
  }
  .col-xs-2{
    img{
      height: 65px;
    }
    span{
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: #fff;
      text-transform: capitalize;
    }

  }
}


body.shoppage,
body.category-deals{
  .mid-nav{
    .container{
      position: relative;
      a.browse-all{
        position: absolute;
        right: 0px;
        top: 0px;
        overflow: visible;
        .box-link-active-line{
          position: absolute;
          top: -15px;
        }
      }
    }
    .shop-landing-submenu.wrap{
      text-align: center;
      li{
        display: inline-block;
      }
      a{
        margin-right: 0px;
        .box-link-active-line{
          display: none;
        }
        &.active{
          .box-link-active-line{
            display: inline-block;
          }
        }
      }
      @media (max-width: 460px){
        .box-link{
          margin-left: 0px !important;
          margin-right: 0px;
          font-size: 11px;
        }
      }
    }
  }

}



body.shop-category{

  #category-banner{
    position: relative;
    width: 100%;
    .head-wrap{
      position: absolute;
      top: 40%;
      width: 100%;
      span{
        padding: 5px 25px;
        color: #fff;
        &.smart-home{
          background-color: rgba(255, 0, 66, 0.7);
        }
        &.travel{
          background-color: rgba(89, 189, 215, 0.7);
        }
        &.wearables{
          background-color: rgba(198, 198, 70, 0.7);
        }
        &.home-decor{
          background-color: rgba(255, 170, 0, 0.7);
        }
      }
    }
  }
  .popular-new{
    text-align: right;
  }
  .main-content{
    .grid-box-3{
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
      width: 100%;
    }
    .box-item{
      border: 0px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;

      @media(max-width: 620px){
        margin: 0 !important;
      }
    }
  }

  .room-filter{
    display: none;
    left: 10px;
    width: 190px;
    float: left;

    .extra-nav{
      li{
        border-bottom: 1px solid $light-grey;
        text-transform: uppercase;
        position: relative;

        &::after{
          content: '+';
          position: absolute;
          right: 10px;
          top: 20px;
          color: #000;
        }

        a{
          display: block;
          width: 100%;
          padding: 20px 0 20px 0px;
          background-repeat: no-repeat;
          background-position: left center;
        }
      }
    }
    .room-list{
      margin-top: 35px;
      li{
        a{
          font-size: 1.55rem;
          color: darken($light-grey, 10%);
          line-height: 2;
        }
      }
    }
  }

  .show-filter{
    .room-filter{
      display: block;
      animation-name: room-filter-animation;
      animation-duration: 2s;
      top:0;
      left:-220px
    }
    .grid-box-3{
      width: calc(100% - 190px);
    }
  }
}



#all-shop-menu{
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.8);
  top: 115px;
  a{
    position: initial;
    float: none;
    color: #fff;
  }
  .title{
    margin-bottom: 20px;
    font-size: 18px;
  }
  .shop-by-category{
    border-right: 1px solid #666;
  }
  .link-row{
    height: 40px;
  }
}

#all-shop-menu-mobile{
  top: 115px;
}