

.profile-photo{
  border-radius: 100px;
  border: 1px solid #bebbbc;
  &:hover{
    border-color: $iridium;
  }
}

.active{
  .profile-photo{
    border-color: $iridium;
  }
}

.signin {
  text-transform: capitalize;
  &:hover {
    color: $iridium;
  }
}

.like-nav{
  .profile-photo{
    height: 40px;
    width: 40px;
    max-width: none;
  }
}



body.profilepage{
  background: #F4F4F4;
  header.colophon{
    background: #fff;
  }
  #hero{
    position: relative;
    //color: #fff;
    #upload-photo{
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 150px;
      margin-left: -75px;
      text-align: center;
      color: #000;
      background: #fff;
      padding-top: 8px;
      padding-bottom: 5px;
      font-weight: bold;
      i{
        color: #f7931e;
      }
    }
    .fullname{
      font-size: 4em;

      @media(max-width: 1000px){
        font-size: 2em;
      }
    }

    .avatar-wrap{
      padding-top: 5px;
      img{
        max-width: 200px;
        margin-top: 10px;
      }
        .change-foto-button{
          position: absolute;
          top: 40%;
          left: 12%;

          i{
            color: #eeeeff;
            opacity: .9;
            font-size: 4rem;

            @media(max-width: 1000px){
              font-size: 3rem;
            }
          }
        }
    }
    //.location{
    //  color: #cac6c3;
    //  font-size: 15px;
    //  i{
    //    font-size: 25px;
    //  }
    //}
    .description{
      color: #999;
      font-size: 1.1rem;
    }
    .follow{
      color: $iridium;
      //border: 1px solid #fff;
      border-radius: 4px;
      width: 114px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
    }
    .edit-background{
      color: #999;
      position: absolute;
      right: 20px;
      top: 65px;
      text-align: center;
      i{
        color: white;
        font-size: 80px;
      }
      a{
        color: #fff;
      }
    }



    .edit-profile{
      color: #ceced0;
      position: absolute;
      right: 20px;
      bottom: 0px;
      text-align: right;
      a{
        color: #fff;
      }
      i{
        color: white;
        font-size: 25px;
      }
      div:first-child{
        line-height: 40px;
        i{
          position: relative;
          top: 5px;
        }
      }
    }


    @media (max-width: 767px){
      .container{
        padding-top: 90px;
        > div{
          text-align: center;
          #btn-follow{
            float: none;
          }
        }
      }
    }
  }



  #hero-nav{
    background: none;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    font-size: 1.2rem;

    position: absolute;
    bottom: 0;
    @media(max-width: 768px){
      position: relative;
    }

    .main-content-filter{
      > li{
        float: left;
        & > a{
          cursor: pointer;
          text-transform: none;
          padding: 10px;
          font-family: $moseratlight;

          i{
            font-size: 18px;
            margin-top: 1px;
            margin-right: 3px;
          }
        }
      }

      li.active,
      li:hover{
        .all-activity{
          color: $sky-blue;
        }
        .my-likes{
          color: red;
        }
        .my-purchases{
          color: $pine-green;
        }
        //.my-comments{
        //  color: #3cb44a;
        //}
        //.my-post{
        //  color: $facebook-blue;
        //}
        //.my-product{
        //  color: $facebook-blue;
        //}
      }

      .swing-lined>div::before{
        bottom: -20px;
      }

    }



    @media (max-width: 620px){
      .main-content-filter{
        > li > a{
          font-size: 10px;
          min-width: initial;
          padding-left: 0px;
          padding-right: 5px;
          > i{
            font-size: 20px;
          }
        }
      }
    }

    .breadcrumb{
      margin-top: 10px;
      font-weight: bold;
      li{
        a{
          float: none;
          padding: 0px;
        }
      }
    }

  }

  .activity-stats{
    margin-top: 22px;

    span{
      padding: 2px 17px;
      margin-right: 5px;
      cursor: pointer;

      @media(max-width:1000px){
        padding: 2px 12px;
      }
    }
  }
  .time{
    font-size: 1.2rem;
    padding-right: 40px;
    white-space: nowrap;

    @media(max-width:1000px){
      padding: 0;
      float: left;
      font-size: 1.1rem;
      margin-left: -8px;
    }
  }
  .activity-tags{
    div{
      display: inline-block;
      padding: 4px 8px;
      float: left;
      border-radius: 50%;
      cursor: pointer;
      margin-left: -15px;
      border: 3px solid #f4f4f4;

      &:first-child{
        &::before{
          content: '';
          width: 2px;
          height: 260px;
          top: 34px;
          right: 13px;
          position: absolute;
          background: #fff;
        }
      }
    }
  }

  .activity-item{
    p{
      font-size: 1.2rem;
    }
  }

  .side-bar{
    padding-right: 45px;
    .sidenav{
      > li{
        padding: 20px 10px;
        background: #fff;
        border-top: 1px solid #f7f7f7;
        a{
          color: $iridium;
        }
        &.active{
          background: $iridium;
          a{
            color: white;
          }
          &::after{
            border-bottom: 10px solid  transparent;
            border-top: 10px solid transparent;
            border-left: 12px solid;
            width: 20px;
            height: 10px;
            right: 10px;
            position: absolute;
            content: ' ';
            color: $iridium;
          }
        }
      }
    }
  }

  .feed-content{
    background: #fff;
    margin-bottom: 20px;
    color: #909090;
    //a{
    //  color: #909090;
    //}
    strong{
      color: #000;
    }
    .feed-header{
      padding: 15px 25px 15px 10px;
      .name-time{
        margin-left: 10px;
        margin-top: 5px;
        i{
          color: $iridium;
        }
      }
    }
    .feed-body{
      min-height: 143px;
      padding: 10px 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
    .feed-footer{
      padding: 25px 20px;
      i{
        font-size: 20px;
        position: relative;
        top: 3px;
      }
      .favorite{
        margin-right: 20px;
        i{
          color: $iridium;
        }
      }
      .comment i{
        color: #4389c8;
      }
      .photos i{
        color: #f7931e;
      }
    }
  }
  //#btn-follow, #btn-add-friend{
  //  margin-top: 10px;
  //}

  #btn-follow{
    float: left;
    color: #fff;
    margin-right: 10px;
    margin-top: 12px;
    position: relative;
    background: $iridium;
    &:hover{
      background: #000;
    }
    i{
      font-size: 10px;
      right: 24px;
      top: 18px;
      position: absolute;
      /*            color: #000;*/
    }
  }
  .post{
    .side-bar{
      .sidenav{
        margin-left: 15px;
        > li{
          a{
            color: #f7931e;
          }
          &.active{
            background: #f7931e;
            a{
              color: #fff;
            }
            &::after{
              color: #f7931e;
            }
          }
        }
      }
    }
  }
}

h5{
  padding: 15px 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.user-score{
    font-size: 1.2rem;
    margin-bottom: 8px;
    padding: 0 15px 15px;

  .stat-item{
    margin-bottom: 10px;
  }

  h5{
    padding-left: 0;
    span{
      color: $iridium;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .percent{
    width: 90px;
    min-height: 90px;
    margin: 20px auto;
    padding-top: 24px;
    text-align: center;
    font-size: 3rem;
    border: 1px solid $iridium;
    border-radius: 50%;
  }

  .stat-name{
    width: 30%;
    display: inline-block;
    @media(max-width: 1000px){
      width: 100%;
    }
  }
}

.share-profile{
  margin-bottom: 16px;
  padding: 0 15px 15px;

  h5{
    padding-left: 0;
  }
}

.progress-bar{
  width: 44%;
  display: inline-block;
  height: 2px;
  background: #eee;
  position: relative;
  bottom: 4px;
  left: 0;

  @media(max-width: 1200px){
    width: 72%;
  }

  &:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    background: $iridium;
  }

  &.full-50{
    &:before {
      width: 50%;
    }
  }

}

.edit-profile-link{
  padding-top: 12px;
  margin-top: 27px;
  float: right;

  @media(max-width: 1000px){
    margin-top: 0;
  }
}


.profile-setting-modal{
  .close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 30px;
    color: white;
  }
  .modal-content{
    padding: 0px;
    .profile-background{
      padding-top: 30px;
      background: #fa1550;
      height: 300px;
      width: 100%;
    }
    .upload-photo{
      background: #e11348;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      margin-top: 20px;
      position: relative;
      cursor: pointer;
      input[type="file"]{
        position: absolute;
        font-size: 200px;
        top: 0px;
        right: 0px;
        opacity: 0;
        cursor: pointer;
      }
    }
    .uploading-photo{
      margin-top: 20px;
      display: block;
    }
    .custom-container{
      max-width: 690px;
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
      .ideaing-domain{
        position: absolute;
        top: 5px;
        left: 28px;
      }
      .personal-link{
        padding-left: 97px;
      }
      label{
        text-align: left;
        margin-bottom: 10px;
      }
      input{
        margin-bottom: 0px;
      }
    }
    .first-form{
      padding-top: 100px;
      background: #f6f6f6;
    }
    .second-form{
      /*            padding-top: 80px;*/
      background: #fff;
      .title{
        margin-top: 50px;
        margin-bottom: 15px;
      }
      .content{
        /*                padding-bottom: 10px;*/
        > div:first-child{
          border-top: 1px solid #f2f2f2;
        }
        > div:last-child{
          border-bottom: 1px solid #f2f2f2;
        }
      }
    }
    .third-form{
      padding-top: 20px;
      background: #f9f9f9;
      .its-over{
        margin-top: 10px;
      }
    }
    .btn{
      background: none;
      border: 1px solid;
      padding-left: 30px;
      padding-right: 30px;
      &.btn-nevermind{
        border-color: #ff0042;
        color: #ff0042;
        margin-right: 10px;
      }
      &.btn-save{
        border-color: #4389c8;
        color: #4389c8;
      }
      &.btn-delete{
        padding-left:20px;
        padding-right:20px;
        border-color: $iridium;
        color: $iridium;
        i{
          font-size: 20px;
          position: relative;
          top: 4px;
          right: -7px;
        }
      }
    }

    .checkbox-form-group {
      margin-bottom: 0px;
      >div:first-child{
        margin-top: 10px;
      }
    }

    .setting-custom-checkbox{
      cursor: pointer;
      font-size: 40px;
      span > .off{
        display: block;
      }
      span > .on{
        display: none;
      }
      input[type="checkbox"]:checked + span > .on{
        display: block;
      }
      input[type="checkbox"]:checked + span > .off{
        display: none;
      }
    }
  }
}